openapi: 3.1.0
info:
  title: Conductor API
  version: 0.0.1
servers:
  - url: https://api.conductor.is/v1
security:
  - BearerAuth: []
paths:
  /auth-sessions:
    post:
      summary: Create an auth session
      description: >-
        To launch the authentication flow, create an auth session and pass the returned session's
        `authFlowUrl` to the client for your end-user to visit in their browser. Demo:
        https://connect.conductor.is/qbd/demo
      security:
        - BearerAuth: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                publishableKey:
                  type: string
                  description: Your Conductor publishable key, which we use to create the auth session's `authFlowUrl`.
                  example: '{{YOUR_PUBLISHABLE_KEY}}'
                endUserId:
                  type: string
                  description: The ID of the end-user for whom to create the integration connection.
                  example: end_usr_1234567abcdefg
                linkExpiryMins:
                  type: number
                  default: 30
                  description: >-
                    The number of minutes after which the auth session will expire. Must be at least 15
                    minutes and no more than 7 days. If not provided, defaults to 30 minutes.
                redirectUrl:
                  type: string
                  format: uri
                  description: >-
                    The URL to which Conductor will redirect the end-user to return to your app after they
                    complete the authentication flow. If not provided, their browser tab will close instead.
                  example: https://example.com/auth/conductor-callback
              required:
                - publishableKey
                - endUserId
      responses:
        '200':
          description: Returns the auth session object.
          headers:
            Conductor-Request-Id:
              schema:
                type: string
                description: The unique identifier for this API request.
                example: req_1234567abcdefg
              required: true
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/auth_session'
      x-codeSamples:
        - lang: JavaScript
          source: |-
            import Conductor from 'conductor-node';

            const client = new Conductor({
              apiKey: process.env['CONDUCTOR_SECRET_KEY'], // This is the default and can be omitted
            });

            async function main() {
              const authSession = await client.authSessions.create({
                endUserId: 'end_usr_1234567abcdefg',
                publishableKey: '{{YOUR_PUBLISHABLE_KEY}}',
              });

              console.log(authSession.id);
            }

            main();
        - lang: Python
          source: |-
            import os
            from conductor import Conductor

            client = Conductor(
                api_key=os.environ.get("CONDUCTOR_SECRET_KEY"),  # This is the default and can be omitted
            )
            auth_session = client.auth_sessions.create(
                end_user_id="end_usr_1234567abcdefg",
                publishable_key="{{YOUR_PUBLISHABLE_KEY}}",
            )
            print(auth_session.id)
  /end-users:
    post:
      summary: Create an end-user
      description: Creates an end-user.
      security:
        - BearerAuth: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                companyName:
                  type: string
                  description: The end-user's company name that will be shown elsewhere in Conductor.
                  example: Acme Inc.
                sourceId:
                  type: string
                  description: >-
                    The end-user's unique identifier from your system. Maps users between your database and
                    Conductor. Must be unique for each user. If you have only one user, you may use any string
                    value.
                  example: 12345678-abcd-abcd-example-1234567890ab
                email:
                  type: string
                  description: >-
                    The end-user's email address for identification purposes. Setting this field will not
                    cause any emails to be sent.
                  example: alice@acme.com
              required:
                - companyName
                - sourceId
                - email
      responses:
        '200':
          description: Returns the end-user object after successful end-user creation.
          headers:
            Conductor-Request-Id:
              schema:
                type: string
                description: The unique identifier for this API request.
                example: req_1234567abcdefg
              required: true
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/end_user'
      x-codeSamples:
        - lang: JavaScript
          source: |-
            import Conductor from 'conductor-node';

            const client = new Conductor({
              apiKey: process.env['CONDUCTOR_SECRET_KEY'], // This is the default and can be omitted
            });

            async function main() {
              const endUser = await client.endUsers.create({
                companyName: 'Acme Inc.',
                email: 'alice@acme.com',
                sourceId: '12345678-abcd-abcd-example-1234567890ab',
              });

              console.log(endUser.id);
            }

            main();
        - lang: Python
          source: |-
            import os
            from conductor import Conductor

            client = Conductor(
                api_key=os.environ.get("CONDUCTOR_SECRET_KEY"),  # This is the default and can be omitted
            )
            end_user = client.end_users.create(
                company_name="Acme Inc.",
                email="alice@acme.com",
                source_id="12345678-abcd-abcd-example-1234567890ab",
            )
            print(end_user.id)
    get:
      summary: List all end-users
      description: Returns a list of your end-users.
      security:
        - BearerAuth: []
      responses:
        '200':
          description: >-
            Returns an object with a `data` property that contains an array of end-user objects. Each entry in
            the array is a separate end-user object. If no more end-users are available, the resulting array
            will be empty.
          headers:
            Conductor-Request-Id:
              schema:
                type: string
                description: The unique identifier for this API request.
                example: req_1234567abcdefg
              required: true
          content:
            application/json:
              schema:
                type: object
                properties:
                  objectType:
                    type: string
                    const: list
                    description: The type of object. This value is always `"list"`.
                    example: list
                  url:
                    type: string
                    description: The endpoint URL where this list can be accessed.
                    example: /v1/end-users
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/end_user'
                    description: The array of end-users.
                required:
                  - objectType
                  - url
                  - data
                additionalProperties: false
      x-codeSamples:
        - lang: JavaScript
          source: |-
            import Conductor from 'conductor-node';

            const client = new Conductor({
              apiKey: process.env['CONDUCTOR_SECRET_KEY'], // This is the default and can be omitted
            });

            async function main() {
              const endUser = await client.endUsers.list();

              console.log(endUser.data);
            }

            main();
        - lang: Python
          source: |-
            import os
            from conductor import Conductor

            client = Conductor(
                api_key=os.environ.get("CONDUCTOR_SECRET_KEY"),  # This is the default and can be omitted
            )
            end_user = client.end_users.list()
            print(end_user.data)
  /end-users/{id}:
    get:
      summary: Retrieve an end-user
      description: Retrieves an end-user object.
      security:
        - BearerAuth: []
      parameters:
        - in: path
          name: id
          description: The ID of the end-user to retrieve.
          schema:
            type: string
            description: The ID of the end-user to retrieve.
            example: end_usr_1234567abcdefg
          required: true
      responses:
        '200':
          description: Returns the end-user object if a valid ID was provided.
          headers:
            Conductor-Request-Id:
              schema:
                type: string
                description: The unique identifier for this API request.
                example: req_1234567abcdefg
              required: true
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/end_user'
      x-codeSamples:
        - lang: JavaScript
          source: |-
            import Conductor from 'conductor-node';

            const client = new Conductor({
              apiKey: process.env['CONDUCTOR_SECRET_KEY'], // This is the default and can be omitted
            });

            async function main() {
              const endUser = await client.endUsers.retrieve('end_usr_1234567abcdefg');

              console.log(endUser.id);
            }

            main();
        - lang: Python
          source: |-
            import os
            from conductor import Conductor

            client = Conductor(
                api_key=os.environ.get("CONDUCTOR_SECRET_KEY"),  # This is the default and can be omitted
            )
            end_user = client.end_users.retrieve(
                "end_usr_1234567abcdefg",
            )
            print(end_user.id)
    delete:
      summary: Delete an end-user
      description: Permanently deletes an end-user object and all of its connections.
      security:
        - BearerAuth: []
      parameters:
        - in: path
          name: id
          description: The ID of the end-user to delete.
          schema:
            type: string
            description: The ID of the end-user to delete.
            example: end_usr_1234567abcdefg
          required: true
      responses:
        '200':
          description: Returns a confirmation of the deletion with the ID of the deleted end-user.
          headers:
            Conductor-Request-Id:
              schema:
                type: string
                description: The unique identifier for this API request.
                example: req_1234567abcdefg
              required: true
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: The ID of the deleted end-user.
                    example: end_usr_1234567abcdefg
                  objectType:
                    type: string
                    const: end_user
                    description: The type of object. This value is always `"end_user"`.
                    example: end_user
                  deleted:
                    type: boolean
                    description: Indicates whether the end-user was deleted.
                    example: true
                required:
                  - id
                  - objectType
                  - deleted
      x-codeSamples:
        - lang: JavaScript
          source: |-
            import Conductor from 'conductor-node';

            const client = new Conductor({
              apiKey: process.env['CONDUCTOR_SECRET_KEY'], // This is the default and can be omitted
            });

            async function main() {
              const endUser = await client.endUsers.delete('end_usr_1234567abcdefg');

              console.log(endUser.id);
            }

            main();
        - lang: Python
          source: |-
            import os
            from conductor import Conductor

            client = Conductor(
                api_key=os.environ.get("CONDUCTOR_SECRET_KEY"),  # This is the default and can be omitted
            )
            end_user = client.end_users.delete(
                "end_usr_1234567abcdefg",
            )
            print(end_user.id)
  # /end-users/{id}/passthrough/{integrationSlug}:
    # post:
    #   summary: Send a passthrough request to an end-user's integration connection
    #   description: >-
    #     Sends a request directly to the specified integration connection (e.g., QuickBooks Desktop) on behalf
    #     of the end-user.
    #   security:
    #     - BearerAuth: []
    #   parameters:
    #     - in: path
    #       name: id
    #       description: The ID of the end-user who owns the integration connection.
    #       schema:
    #         type: string
    #         description: The ID of the end-user who owns the integration connection.
    #         example: end_usr_1234567abcdefg
    #       required: true
    #     - in: path
    #       name: integrationSlug
    #       description: The integration identifier for the end-user's connection.
    #       schema:
    #         type: string
    #         enum:
    #           - quickbooks_desktop
    #         description: The integration identifier for the end-user's connection.
    #       required: true
    #   requestBody:
    #     content:
    #       application/json:
    #         schema:
    #           type: object
    #           additionalProperties: true
    #           description: The request body to send to the integration connection.
    #           minProperties: 1
    #           required: true
    #   responses:
    #     '200':
    #       description: Returns the response from the integration connection.
    #       headers:
    #         Conductor-Request-Id:
    #           schema:
    #             type: string
    #             description: The unique identifier for this API request.
    #             example: req_1234567abcdefg
    #           required: true
    #       content:
    #         application/json:
    #           schema:
    #             type: object
    #             additionalProperties: true
    #             description: The response from the integration connection.
    #   x-codeSamples:
    #     - lang: JavaScript
    #       source: |-
    #         import Conductor from 'conductor-node';

    #         const client = new Conductor({
    #           apiKey: process.env['CONDUCTOR_SECRET_KEY'], // This is the default and can be omitted
    #         });

    #         async function main() {
    #           const response = await client.endUsers.passthrough('end_usr_1234567abcdefg', 'quickbooks_desktop', {
    #             foo: 'bar',
    #           });

    #           console.log(response);
    #         }

    #         main();
    #     - lang: Python
    #       source: |-
    #         import os
    #         from conductor import Conductor

    #         client = Conductor(
    #             api_key=os.environ.get("CONDUCTOR_SECRET_KEY"),  # This is the default and can be omitted
    #         )
    #         response = client.end_users.passthrough(
    #             integration_slug="quickbooks_desktop",
    #             id="end_usr_1234567abcdefg",
    #             qbd_payload={
    #                 "foo": "bar"
    #             },
    #         )
    #         print(response)
  /quickbooks-desktop/accounts:
    get:
      summary: List all accounts
      description: >-
        Returns a list of accounts. NOTE: QuickBooks Desktop does not support pagination for accounts; hence,
        there is no `cursor` parameter. Users typically have few accounts.
      security:
        - BearerAuth: []
      parameters:
        - in: query
          name: ids
          description: >-
            Filter for specific accounts by their QuickBooks-assigned unique identifier(s).


            **IMPORTANT**: If you include this parameter, QuickBooks will ignore all other query parameters
            for this request.


            **NOTE**: If any of the values you specify in this parameter are not found, the request will
            return an error.
          schema:
            type: array
            items:
              type: string
            description: >-
              Filter for specific accounts by their QuickBooks-assigned unique identifier(s).


              **IMPORTANT**: If you include this parameter, QuickBooks will ignore all other query parameters
              for this request.


              **NOTE**: If any of the values you specify in this parameter are not found, the request will
              return an error.
            example:
              - 80000001-1234567890
        - in: query
          name: fullNames
          description: >-
            Filter for specific accounts by their full-name(s), case-insensitive. Like `id`, `fullName` is a
            unique identifier for an account, formed by by combining the names of its parent objects with its
            own `name`, separated by colons. For example, if an account is under "Corporate" and has the
            `name` "Accounts-Payable", its `fullName` would be "Corporate:Accounts-Payable".


            **IMPORTANT**: If you include this parameter, QuickBooks will ignore all other query parameters
            for this request.


            **NOTE**: If any of the values you specify in this parameter are not found, the request will
            return an error.
          schema:
            type: array
            items:
              type: string
            description: >-
              Filter for specific accounts by their full-name(s), case-insensitive. Like `id`, `fullName` is a
              unique identifier for an account, formed by by combining the names of its parent objects with
              its own `name`, separated by colons. For example, if an account is under "Corporate" and has the
              `name` "Accounts-Payable", its `fullName` would be "Corporate:Accounts-Payable".


              **IMPORTANT**: If you include this parameter, QuickBooks will ignore all other query parameters
              for this request.


              **NOTE**: If any of the values you specify in this parameter are not found, the request will
              return an error.
            example:
              - Corporate:Accounts-Payable
        - in: query
          name: limit
          description: >-
            The maximum number of objects to return.


            **IMPORTANT**: QuickBooks Desktop does not support cursor-based pagination for accounts. This
            parameter will limit the response size, but you cannot fetch subsequent results using a cursor.
            For pagination, use the name-range parameters instead (e.g., `nameFrom=A&nameTo=B`).


            When this parameter is omitted, the endpoint returns all accounts without limit, unlike paginated
            endpoints which default to 150 records. This is acceptable because accounts typically have low
            record counts.
          schema:
            type: integer
            minimum: 1
            description: >-
              The maximum number of objects to return.


              **IMPORTANT**: QuickBooks Desktop does not support cursor-based pagination for accounts. This
              parameter will limit the response size, but you cannot fetch subsequent results using a cursor.
              For pagination, use the name-range parameters instead (e.g., `nameFrom=A&nameTo=B`).


              When this parameter is omitted, the endpoint returns all accounts without limit, unlike
              paginated endpoints which default to 150 records. This is acceptable because accounts typically
              have low record counts.
            example: 10
        - in: query
          name: status
          description: Filter for accounts that are active, inactive, or both.
          schema:
            type: string
            enum:
              - active
              - all
              - inactive
            default: active
            description: Filter for accounts that are active, inactive, or both.
            example: active
        - in: query
          name: updatedAfter
          description: >-
            Filter for accounts updated on or after this date and time, in ISO 8601 format
            (YYYY-MM-DDTHH:mm:ss). If you only provide a date (YYYY-MM-DD), the time is assumed to be 00:00:00
            of that day.
          schema:
            type: string
            description: >-
              Filter for accounts updated on or after this date and time, in ISO 8601 format
              (YYYY-MM-DDTHH:mm:ss). If you only provide a date (YYYY-MM-DD), the time is assumed to be
              00:00:00 of that day.
            example: 2021-01-01T12:34:56.000Z
        - in: query
          name: updatedBefore
          description: >-
            Filter for accounts updated on or before this date and time, in ISO 8601 format
            (YYYY-MM-DDTHH:mm:ss). If you only provide a date (YYYY-MM-DD), the time is assumed to be 23:59:59
            of that day.
          schema:
            type: string
            description: >-
              Filter for accounts updated on or before this date and time, in ISO 8601 format
              (YYYY-MM-DDTHH:mm:ss). If you only provide a date (YYYY-MM-DD), the time is assumed to be
              23:59:59 of that day.
            example: 2021-02-01T12:34:56.000Z
        - in: query
          name: nameContains
          description: >-
            Filter for accounts whose `name` contains this substring, case-insensitive. NOTE: If you use this
            parameter, you cannot also use `nameStartsWith` or `nameEndsWith`.
          schema:
            type: string
            description: >-
              Filter for accounts whose `name` contains this substring, case-insensitive. NOTE: If you use
              this parameter, you cannot also use `nameStartsWith` or `nameEndsWith`.
            example: ABC
        - in: query
          name: nameStartsWith
          description: >-
            Filter for accounts whose `name` starts with this substring, case-insensitive. NOTE: If you use
            this parameter, you cannot also use `nameContains` or `nameEndsWith`.
          schema:
            type: string
            description: >-
              Filter for accounts whose `name` starts with this substring, case-insensitive. NOTE: If you use
              this parameter, you cannot also use `nameContains` or `nameEndsWith`.
            example: ABC
        - in: query
          name: nameEndsWith
          description: >-
            Filter for accounts whose `name` ends with this substring, case-insensitive. NOTE: If you use this
            parameter, you cannot also use `nameContains` or `nameStartsWith`.
          schema:
            type: string
            description: >-
              Filter for accounts whose `name` ends with this substring, case-insensitive. NOTE: If you use
              this parameter, you cannot also use `nameContains` or `nameStartsWith`.
            example: ABC
        - in: query
          name: nameFrom
          description: Filter for accounts whose `name` is alphabetically greater than or equal to this value.
          schema:
            type: string
            description: Filter for accounts whose `name` is alphabetically greater than or equal to this value.
            example: A
        - in: query
          name: nameTo
          description: Filter for accounts whose `name` is alphabetically less than or equal to this value.
          schema:
            type: string
            description: Filter for accounts whose `name` is alphabetically less than or equal to this value.
            example: Z
        - in: query
          name: accountType
          description: Filter for accounts of this type.
          schema:
            type: string
            enum:
              - accounts_payable
              - accounts_receivable
              - bank
              - cost_of_goods_sold
              - credit_card
              - equity
              - expense
              - fixed_asset
              - income
              - long_term_liability
              - non_posting
              - other_asset
              - other_current_asset
              - other_current_liability
              - other_expense
              - other_income
            description: Filter for accounts of this type.
            example: income
        - in: query
          name: currencyIds
          description: Filter for accounts in these currencies.
          schema:
            type: array
            items:
              type: string
            description: Filter for accounts in these currencies.
            example:
              - 80000001-1234567890
        - in: header
          name: Conductor-End-User-Id
          description: 'The ID of the EndUser to receive this request (e.g., `"Conductor-End-User-Id: {{END_USER_ID}}"`).'
          schema:
            type: string
            description: >-
              The ID of the EndUser to receive this request (e.g., `"Conductor-End-User-Id:
              {{END_USER_ID}}"`).
            example: end_usr_1234567abcdefg
            x-stainless-naming:
              node:
                method_argument: conductorEndUserId
          required: true
      responses:
        '200':
          description: Returns a list of accounts.
          headers:
            Conductor-Request-Id:
              schema:
                type: string
                description: The unique identifier for this API request.
                example: req_1234567abcdefg
              required: true
          content:
            application/json:
              schema:
                type: object
                properties:
                  objectType:
                    type: string
                    const: list
                    description: The type of object. This value is always `"list"`.
                    example: list
                  url:
                    type: string
                    description: The endpoint URL where this list can be accessed.
                    example: /v1/quickbooks-desktop/accounts
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/qbd_account'
                    description: The array of accounts.
                required:
                  - objectType
                  - url
                  - data
                additionalProperties: false
      x-codeSamples:
        - lang: JavaScript
          source: |-
            import Conductor from 'conductor-node';

            const client = new Conductor({
              apiKey: process.env['CONDUCTOR_SECRET_KEY'], // This is the default and can be omitted
            });

            async function main() {
              const account = await client.qbd.accounts.list({ conductorEndUserId: 'end_usr_1234567abcdefg' });

              console.log(account.data);
            }

            main();
        - lang: Python
          source: |-
            import os
            from conductor import Conductor

            client = Conductor(
                api_key=os.environ.get("CONDUCTOR_SECRET_KEY"),  # This is the default and can be omitted
            )
            account = client.qbd.accounts.list(
                conductor_end_user_id="end_usr_1234567abcdefg",
            )
            print(account.data)
    post:
      summary: Create an account
      description: Creates a new financial account.
      security:
        - BearerAuth: []
      parameters:
        - in: header
          name: Conductor-End-User-Id
          description: 'The ID of the EndUser to receive this request (e.g., `"Conductor-End-User-Id: {{END_USER_ID}}"`).'
          schema:
            type: string
            description: >-
              The ID of the EndUser to receive this request (e.g., `"Conductor-End-User-Id:
              {{END_USER_ID}}"`).
            example: end_usr_1234567abcdefg
            x-stainless-naming:
              node:
                method_argument: conductorEndUserId
          required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  maxLength: 31
                  description: >-
                    The case-insensitive name of this account. Not guaranteed to be unique because it does not
                    include the names of its hierarchical parent objects like `fullName` does. For example,
                    two accounts could both have the `name` "Accounts-Payable", but they could have unique
                    `fullName` values, such as "Corporate:Accounts-Payable" and "Finance:Accounts-Payable".


                    Maximum length: 31 characters.
                  example: Accounts-Payable
                isActive:
                  type: boolean
                  description: >-
                    Indicates whether this account is active. Inactive objects are typically hidden from views
                    and reports in QuickBooks. Defaults to `true`.
                  example: true
                  default: true
                parentId:
                  type: string
                  description: >-
                    The parent account one level above this one in the hierarchy. For example, if this account
                    has a `fullName` of "Corporate:Accounts-Payable", its parent has a `fullName` of
                    "Corporate". If this account is at the top level, this field will be `null`.
                  example: 80000001-1234567890
                accountType:
                  type: string
                  enum:
                    - accounts_payable
                    - accounts_receivable
                    - bank
                    - cost_of_goods_sold
                    - credit_card
                    - equity
                    - expense
                    - fixed_asset
                    - income
                    - long_term_liability
                    - non_posting
                    - other_asset
                    - other_current_asset
                    - other_current_liability
                    - other_expense
                    - other_income
                  description: >-
                    The classification of this account, indicating its purpose within the chart of accounts.


                    **NOTE**: You cannot create an account of type `non_posting` through the API because
                    QuickBooks creates these accounts behind the scenes.
                  example: bank
                accountNumber:
                  type: string
                  description: >-
                    The account's account number, which appears in the QuickBooks chart of accounts, reports,
                    and graphs.


                    Note that if the "Use Account Numbers" preference is turned off in QuickBooks, the account
                    number may not be visible in the user interface, but it can still be set and retrieved
                    through the API.
                  example: '1010'
                bankAccountNumber:
                  type: string
                  description: >-
                    The bank account number or identifying note for this account. Access to this field may be
                    restricted based on permissions.
                  example: '123456789'
                description:
                  type: string
                  description: A description of this account.
                  example: >-
                    Accounts-payable are the amounts owed to suppliers for goods and services purchased on
                    credit.
                openingBalance:
                  type: string
                  description: >-
                    The amount of money in, or the value of, this account as of `openingBalanceDate`. On a
                    bank statement, this would be the amount of money in the account at the beginning of the
                    statement period.
                  example: '1000.00'
                openingBalanceDate:
                  type: string
                  format: date
                  description: The date of the opening balance of this account, in ISO 8601 format (YYYY-MM-DD).
                  example: '2023-01-01'
                salesTaxCodeId:
                  type: string
                  description: >-
                    The default sales-tax code for transactions with this account, determining whether the
                    transactions are taxable or non-taxable. This can be overridden at the transaction or
                    transaction-line level.


                    Default codes include "Non" (non-taxable) and "Tax" (taxable), but custom codes can also
                    be created in QuickBooks. If QuickBooks is not set up to charge sales tax (via the "Do You
                    Charge Sales Tax?" preference), it will assign the default non-taxable code to all sales.
                  example: 80000001-1234567890
                taxLineId:
                  type: number
                  description: The identifier of the tax line associated with this account.
                  example: 123
                currencyId:
                  type: string
                  description: >-
                    The account's currency. For built-in currencies, the name and code are standard
                    international values. For user-defined currencies, all values are editable.
                  example: 80000001-1234567890
              required:
                - name
                - accountType
              additionalProperties: false
      responses:
        '200':
          description: Returns the newly created account.
          headers:
            Conductor-Request-Id:
              schema:
                type: string
                description: The unique identifier for this API request.
                example: req_1234567abcdefg
              required: true
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/qbd_account'
      x-codeSamples:
        - lang: JavaScript
          source: |-
            import Conductor from 'conductor-node';

            const client = new Conductor({
              apiKey: process.env['CONDUCTOR_SECRET_KEY'], // This is the default and can be omitted
            });

            async function main() {
              const account = await client.qbd.accounts.create({
                accountType: 'accounts_payable',
                name: 'Accounts-Payable',
                conductorEndUserId: 'end_usr_1234567abcdefg',
              });

              console.log(account.id);
            }

            main();
        - lang: Python
          source: |-
            import os
            from conductor import Conductor

            client = Conductor(
                api_key=os.environ.get("CONDUCTOR_SECRET_KEY"),  # This is the default and can be omitted
            )
            account = client.qbd.accounts.create(
                account_type="accounts_payable",
                name="Accounts-Payable",
                conductor_end_user_id="end_usr_1234567abcdefg",
            )
            print(account.id)
  /quickbooks-desktop/accounts/{id}:
    get:
      summary: Retrieve an account
      description: Retrieves an account by ID.
      security:
        - BearerAuth: []
      parameters:
        - in: path
          name: id
          description: The QuickBooks-assigned unique identifier of the account to retrieve.
          schema:
            type: string
            description: The QuickBooks-assigned unique identifier of the account to retrieve.
            example: 80000001-1234567890
          required: true
        - in: header
          name: Conductor-End-User-Id
          description: 'The ID of the EndUser to receive this request (e.g., `"Conductor-End-User-Id: {{END_USER_ID}}"`).'
          schema:
            type: string
            description: >-
              The ID of the EndUser to receive this request (e.g., `"Conductor-End-User-Id:
              {{END_USER_ID}}"`).
            example: end_usr_1234567abcdefg
            x-stainless-naming:
              node:
                method_argument: conductorEndUserId
          required: true
      responses:
        '200':
          description: Returns the specified account.
          headers:
            Conductor-Request-Id:
              schema:
                type: string
                description: The unique identifier for this API request.
                example: req_1234567abcdefg
              required: true
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/qbd_account'
      x-codeSamples:
        - lang: JavaScript
          source: |-
            import Conductor from 'conductor-node';

            const client = new Conductor({
              apiKey: process.env['CONDUCTOR_SECRET_KEY'], // This is the default and can be omitted
            });

            async function main() {
              const account = await client.qbd.accounts.retrieve('80000001-1234567890', {
                conductorEndUserId: 'end_usr_1234567abcdefg',
              });

              console.log(account.id);
            }

            main();
        - lang: Python
          source: |-
            import os
            from conductor import Conductor

            client = Conductor(
                api_key=os.environ.get("CONDUCTOR_SECRET_KEY"),  # This is the default and can be omitted
            )
            account = client.qbd.accounts.retrieve(
                id="80000001-1234567890",
                conductor_end_user_id="end_usr_1234567abcdefg",
            )
            print(account.id)
    post:
      summary: Update an account
      description: Updates an existing financial account.
      security:
        - BearerAuth: []
      parameters:
        - in: path
          name: id
          description: The QuickBooks-assigned unique identifier of the account to update.
          schema:
            type: string
            description: The QuickBooks-assigned unique identifier of the account to update.
            example: 80000001-1234567890
          required: true
        - in: header
          name: Conductor-End-User-Id
          description: 'The ID of the EndUser to receive this request (e.g., `"Conductor-End-User-Id: {{END_USER_ID}}"`).'
          schema:
            type: string
            description: >-
              The ID of the EndUser to receive this request (e.g., `"Conductor-End-User-Id:
              {{END_USER_ID}}"`).
            example: end_usr_1234567abcdefg
            x-stainless-naming:
              node:
                method_argument: conductorEndUserId
          required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                revisionNumber:
                  type: string
                  description: >-
                    The current QuickBooks-assigned revision number of the account object you are updating,
                    which you can get by fetching the object first. Provide the most recent `revisionNumber`
                    to ensure you're working with the latest data; otherwise, the update will return an error.
                  example: '1721172183'
                name:
                  type: string
                  maxLength: 31
                  description: >-
                    The case-insensitive name of this account. Not guaranteed to be unique because it does not
                    include the names of its hierarchical parent objects like `fullName` does. For example,
                    two accounts could both have the `name` "Accounts-Payable", but they could have unique
                    `fullName` values, such as "Corporate:Accounts-Payable" and "Finance:Accounts-Payable".


                    Maximum length: 31 characters.
                  example: Accounts-Payable
                isActive:
                  type: boolean
                  description: >-
                    Indicates whether this account is active. Inactive objects are typically hidden from views
                    and reports in QuickBooks. Defaults to `true`.
                  example: true
                parentId:
                  type: string
                  description: >-
                    The parent account one level above this one in the hierarchy. For example, if this account
                    has a `fullName` of "Corporate:Accounts-Payable", its parent has a `fullName` of
                    "Corporate". If this account is at the top level, this field will be `null`.
                  example: 80000001-1234567890
                accountType:
                  type: string
                  enum:
                    - accounts_payable
                    - accounts_receivable
                    - bank
                    - cost_of_goods_sold
                    - credit_card
                    - equity
                    - expense
                    - fixed_asset
                    - income
                    - long_term_liability
                    - non_posting
                    - other_asset
                    - other_current_asset
                    - other_current_liability
                    - other_expense
                    - other_income
                  description: >-
                    The classification of this account, indicating its purpose within the chart of accounts.


                    **NOTE**: You cannot create an account of type `non_posting` through the API because
                    QuickBooks creates these accounts behind the scenes.
                  example: bank
                accountNumber:
                  type: string
                  description: >-
                    The account's account number, which appears in the QuickBooks chart of accounts, reports,
                    and graphs.


                    Note that if the "Use Account Numbers" preference is turned off in QuickBooks, the account
                    number may not be visible in the user interface, but it can still be set and retrieved
                    through the API.
                  example: '1010'
                bankAccountNumber:
                  type: string
                  description: >-
                    The bank account number or identifying note for this account. Access to this field may be
                    restricted based on permissions.
                  example: '123456789'
                description:
                  type: string
                  description: A description of this account.
                  example: >-
                    Accounts-payable are the amounts owed to suppliers for goods and services purchased on
                    credit.
                openingBalance:
                  type: string
                  description: >-
                    The amount of money in, or the value of, this account as of `openingBalanceDate`. On a
                    bank statement, this would be the amount of money in the account at the beginning of the
                    statement period.
                  example: '1000.00'
                openingBalanceDate:
                  type: string
                  format: date
                  description: The date of the opening balance of this account, in ISO 8601 format (YYYY-MM-DD).
                  example: '2023-01-01'
                salesTaxCodeId:
                  type: string
                  description: >-
                    The default sales-tax code for transactions with this account, determining whether the
                    transactions are taxable or non-taxable. This can be overridden at the transaction or
                    transaction-line level.


                    Default codes include "Non" (non-taxable) and "Tax" (taxable), but custom codes can also
                    be created in QuickBooks. If QuickBooks is not set up to charge sales tax (via the "Do You
                    Charge Sales Tax?" preference), it will assign the default non-taxable code to all sales.
                  example: 80000001-1234567890
                taxLineId:
                  type: number
                  description: The identifier of the tax line associated with this account.
                  example: 123
                currencyId:
                  type: string
                  description: >-
                    The account's currency. For built-in currencies, the name and code are standard
                    international values. For user-defined currencies, all values are editable.
                  example: 80000001-1234567890
              required:
                - revisionNumber
              additionalProperties: false
      responses:
        '200':
          description: Returns the updated account.
          headers:
            Conductor-Request-Id:
              schema:
                type: string
                description: The unique identifier for this API request.
                example: req_1234567abcdefg
              required: true
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/qbd_account'
      x-codeSamples:
        - lang: JavaScript
          source: |-
            import Conductor from 'conductor-node';

            const client = new Conductor({
              apiKey: process.env['CONDUCTOR_SECRET_KEY'], // This is the default and can be omitted
            });

            async function main() {
              const account = await client.qbd.accounts.update('80000001-1234567890', {
                revisionNumber: '1721172183',
                conductorEndUserId: 'end_usr_1234567abcdefg',
              });

              console.log(account.id);
            }

            main();
        - lang: Python
          source: |-
            import os
            from conductor import Conductor

            client = Conductor(
                api_key=os.environ.get("CONDUCTOR_SECRET_KEY"),  # This is the default and can be omitted
            )
            account = client.qbd.accounts.update(
                id="80000001-1234567890",
                revision_number="1721172183",
                conductor_end_user_id="end_usr_1234567abcdefg",
            )
            print(account.id)
  /quickbooks-desktop/bill-check-payments:
    get:
      summary: List all bill check payments
      description: Returns a list of bill check payments. Use the `cursor` parameter to paginate through the results.
      security:
        - BearerAuth: []
      parameters:
        - in: query
          name: ids
          description: >-
            Filter for specific bill check payments by their QuickBooks-assigned unique identifier(s).


            **IMPORTANT**: If you include this parameter, QuickBooks will ignore all other query parameters
            for this request.


            **NOTE**: If any of the values you specify in this parameter are not found, the request will
            return an error.
          schema:
            type: array
            items:
              type: string
            description: >-
              Filter for specific bill check payments by their QuickBooks-assigned unique identifier(s).


              **IMPORTANT**: If you include this parameter, QuickBooks will ignore all other query parameters
              for this request.


              **NOTE**: If any of the values you specify in this parameter are not found, the request will
              return an error.
            example:
              - 123ABC-1234567890
        - in: query
          name: refNumbers
          description: >-
            Filter for specific bill check payments by their ref-number(s), case-sensitive. In QuickBooks,
            ref-numbers are not required to be unique and can be arbitrarily changed by the QuickBooks user.


            **IMPORTANT**: If you include this parameter, QuickBooks will ignore all other query parameters
            for this request.


            **NOTE**: If any of the values you specify in this parameter are not found, the request will
            return an error.
          schema:
            type: array
            items:
              type: string
            description: >-
              Filter for specific bill check payments by their ref-number(s), case-sensitive. In QuickBooks,
              ref-numbers are not required to be unique and can be arbitrarily changed by the QuickBooks user.


              **IMPORTANT**: If you include this parameter, QuickBooks will ignore all other query parameters
              for this request.


              **NOTE**: If any of the values you specify in this parameter are not found, the request will
              return an error.
            example:
              - BILL CHECK PAYMENT-1234
        - in: query
          name: limit
          description: >-
            The maximum number of objects to return. Accepts values ranging from 1 to 150, defaults to 150.
            When used with cursor-based pagination, this parameter controls how many results are returned per
            page. To paginate through results, combine this with the `cursor` parameter. Each response will
            include a `nextCursor` value that can be passed to subsequent requests to retrieve the next page
            of results.
          schema:
            type: integer
            minimum: 1
            maximum: 150
            default: 150
            description: >-
              The maximum number of objects to return. Accepts values ranging from 1 to 150, defaults to 150.
              When used with cursor-based pagination, this parameter controls how many results are returned
              per page. To paginate through results, combine this with the `cursor` parameter. Each response
              will include a `nextCursor` value that can be passed to subsequent requests to retrieve the next
              page of results.
            example: 150
        - in: query
          name: cursor
          description: >-
            The pagination token to fetch the next set of results when paginating with the `limit` parameter.
            Do not include this parameter on the first call. Use the `nextCursor` value returned in the
            previous response to request subsequent results.
          schema:
            type: string
            description: >-
              The pagination token to fetch the next set of results when paginating with the `limit`
              parameter. Do not include this parameter on the first call. Use the `nextCursor` value returned
              in the previous response to request subsequent results.
            example: 12345678-abcd-abcd-example-1234567890ab
        - in: query
          name: updatedAfter
          description: >-
            Filter for bill check payments updated on or after this date and time, in ISO 8601 format
            (YYYY-MM-DDTHH:mm:ss). If you only provide a date (YYYY-MM-DD), the time is assumed to be 00:00:00
            of that day.
          schema:
            type: string
            description: >-
              Filter for bill check payments updated on or after this date and time, in ISO 8601 format
              (YYYY-MM-DDTHH:mm:ss). If you only provide a date (YYYY-MM-DD), the time is assumed to be
              00:00:00 of that day.
            example: 2021-01-01T12:34:56.000Z
        - in: query
          name: updatedBefore
          description: >-
            Filter for bill check payments updated on or before this date and time, in ISO 8601 format
            (YYYY-MM-DDTHH:mm:ss). If you only provide a date (YYYY-MM-DD), the time is assumed to be 23:59:59
            of that day.
          schema:
            type: string
            description: >-
              Filter for bill check payments updated on or before this date and time, in ISO 8601 format
              (YYYY-MM-DDTHH:mm:ss). If you only provide a date (YYYY-MM-DD), the time is assumed to be
              23:59:59 of that day.
            example: 2021-02-01T12:34:56.000Z
        - in: query
          name: transactionDateFrom
          description: >-
            Filter for bill check payments whose `date` field is on or after this date, in ISO 8601 format
            (YYYY-MM-DD).
          schema:
            type: string
            format: date
            description: >-
              Filter for bill check payments whose `date` field is on or after this date, in ISO 8601 format
              (YYYY-MM-DD).
            example: '2021-01-01'
        - in: query
          name: transactionDateTo
          description: >-
            Filter for bill check payments whose `date` field is on or before this date, in ISO 8601 format
            (YYYY-MM-DD).
          schema:
            type: string
            format: date
            description: >-
              Filter for bill check payments whose `date` field is on or before this date, in ISO 8601 format
              (YYYY-MM-DD).
            example: '2021-02-01'
        - in: query
          name: vendorIds
          description: >-
            Filter for bill check payments sent to these vendors. These are the vendors who sent the bills
            paid by these checks.
          schema:
            type: array
            items:
              type: string
            description: >-
              Filter for bill check payments sent to these vendors. These are the vendors who sent the bills
              paid by these checks.
            example:
              - 80000001-1234567890
        - in: query
          name: accountIds
          description: Filter for bill check payments associated with these accounts.
          schema:
            type: array
            items:
              type: string
            description: Filter for bill check payments associated with these accounts.
            example:
              - 80000001-1234567890
        - in: query
          name: refNumberContains
          description: >-
            Filter for bill check payments whose `refNumber` contains this substring. (For checks, this field
            is the check number.) NOTE: If you use this parameter, you cannot also use `refNumberStartsWith`
            or `refNumberEndsWith`.
          schema:
            type: string
            description: >-
              Filter for bill check payments whose `refNumber` contains this substring. (For checks, this
              field is the check number.) NOTE: If you use this parameter, you cannot also use
              `refNumberStartsWith` or `refNumberEndsWith`.
            example: CHECK-1234
        - in: query
          name: refNumberStartsWith
          description: >-
            Filter for bill check payments whose `refNumber` starts with this substring. (For checks, this
            field is the check number.) NOTE: If you use this parameter, you cannot also use
            `refNumberContains` or `refNumberEndsWith`.
          schema:
            type: string
            description: >-
              Filter for bill check payments whose `refNumber` starts with this substring. (For checks, this
              field is the check number.) NOTE: If you use this parameter, you cannot also use
              `refNumberContains` or `refNumberEndsWith`.
            example: CHECK
        - in: query
          name: refNumberEndsWith
          description: >-
            Filter for bill check payments whose `refNumber` ends with this substring. (For checks, this field
            is the check number.) NOTE: If you use this parameter, you cannot also use `refNumberContains` or
            `refNumberStartsWith`.
          schema:
            type: string
            description: >-
              Filter for bill check payments whose `refNumber` ends with this substring. (For checks, this
              field is the check number.) NOTE: If you use this parameter, you cannot also use
              `refNumberContains` or `refNumberStartsWith`.
            example: '1234'
        - in: query
          name: refNumberFrom
          description: >-
            Filter for bill check payments whose `refNumber` is greater than or equal to this value. (For
            checks, this field is the check number.) If omitted, the range will begin with the first number of
            the list. Uses a numerical comparison for values that contain only digits; otherwise, uses a
            lexicographical comparison.
          schema:
            type: string
            description: >-
              Filter for bill check payments whose `refNumber` is greater than or equal to this value. (For
              checks, this field is the check number.) If omitted, the range will begin with the first number
              of the list. Uses a numerical comparison for values that contain only digits; otherwise, uses a
              lexicographical comparison.
            example: CHECK-0001
        - in: query
          name: refNumberTo
          description: >-
            Filter for bill check payments whose `refNumber` is less than or equal to this value. (For checks,
            this field is the check number.) If omitted, the range will end with the last number of the list.
            Uses a numerical comparison for values that contain only digits; otherwise, uses a lexicographical
            comparison.
          schema:
            type: string
            description: >-
              Filter for bill check payments whose `refNumber` is less than or equal to this value. (For
              checks, this field is the check number.) If omitted, the range will end with the last number of
              the list. Uses a numerical comparison for values that contain only digits; otherwise, uses a
              lexicographical comparison.
            example: CHECK-9999
        - in: query
          name: currencyIds
          description: Filter for bill check payments in these currencies.
          schema:
            type: array
            items:
              type: string
            description: Filter for bill check payments in these currencies.
            example:
              - 80000001-1234567890
        - in: query
          name: includeLineItems
          description: Whether to include line items in the response. Defaults to `true`.
          schema:
            type: boolean
            description: Whether to include line items in the response. Defaults to `true`.
            example: true
            default: true
        - in: header
          name: Conductor-End-User-Id
          description: 'The ID of the EndUser to receive this request (e.g., `"Conductor-End-User-Id: {{END_USER_ID}}"`).'
          schema:
            type: string
            description: >-
              The ID of the EndUser to receive this request (e.g., `"Conductor-End-User-Id:
              {{END_USER_ID}}"`).
            example: end_usr_1234567abcdefg
            x-stainless-naming:
              node:
                method_argument: conductorEndUserId
          required: true
      responses:
        '200':
          description: Returns a list of bill check payments.
          headers:
            Conductor-Request-Id:
              schema:
                type: string
                description: The unique identifier for this API request.
                example: req_1234567abcdefg
              required: true
          content:
            application/json:
              schema:
                type: object
                properties:
                  objectType:
                    type: string
                    const: list
                    description: The type of object. This value is always `"list"`.
                    example: list
                  url:
                    type: string
                    description: The endpoint URL where this list can be accessed.
                    example: /v1/quickbooks-desktop/bill-check-payments
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/qbd_bill_check_payment'
                    description: The array of bill check payments.
                  nextCursor:
                    type:
                      - string
                      - 'null'
                    description: >-
                      The `nextCursor` is a pagination token returned in the response when you use the `limit`
                      parameter in your request. To retrieve subsequent pages of results, include this token
                      as the value of the `cursor` request parameter in your following API calls.


                      **NOTE**: The `nextCursor` value remains constant throughout the pagination process for
                      a specific list instance; continue to use the same `nextCursor` token in each request to
                      fetch additional pages.
                    example: 12345678-abcd-abcd-example-1234567890ab
                  remainingCount:
                    type:
                      - number
                      - 'null'
                    description: The number of objects remaining to be fetched.
                    example: 10
                  hasMore:
                    type: boolean
                    description: Indicates whether there are more objects to be fetched.
                required:
                  - objectType
                  - url
                  - data
                  - nextCursor
                  - remainingCount
                  - hasMore
                additionalProperties: false
      x-codeSamples:
        - lang: JavaScript
          source: |-
            import Conductor from 'conductor-node';

            const client = new Conductor({
              apiKey: process.env['CONDUCTOR_SECRET_KEY'], // This is the default and can be omitted
            });

            async function main() {
              // Automatically fetches more pages as needed.
              for await (const billCheckPayment of client.qbd.billCheckPayments.list({
                conductorEndUserId: 'end_usr_1234567abcdefg',
              })) {
                console.log(billCheckPayment.id);
              }
            }

            main();
        - lang: Python
          source: |-
            import os
            from conductor import Conductor

            client = Conductor(
                api_key=os.environ.get("CONDUCTOR_SECRET_KEY"),  # This is the default and can be omitted
            )
            page = client.qbd.bill_check_payments.list(
                conductor_end_user_id="end_usr_1234567abcdefg",
            )
            page = page.data[0]
            print(page.id)
    post:
      summary: Create a bill check payment
      description: Creates a new bill check payment.
      security:
        - BearerAuth: []
      parameters:
        - in: header
          name: Conductor-End-User-Id
          description: 'The ID of the EndUser to receive this request (e.g., `"Conductor-End-User-Id: {{END_USER_ID}}"`).'
          schema:
            type: string
            description: >-
              The ID of the EndUser to receive this request (e.g., `"Conductor-End-User-Id:
              {{END_USER_ID}}"`).
            example: end_usr_1234567abcdefg
            x-stainless-naming:
              node:
                method_argument: conductorEndUserId
          required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                vendorId:
                  type: string
                  description: >-
                    The vendor who sent the bill(s) that this bill check payment is paying and who will
                    receive this payment.


                    **IMPORTANT**: This vendor must match the `vendor` on the bill(s) specified in
                    `applyToTransactions`; otherwise, QuickBooks will say the `transactionId` in
                    `applyToTransactions` "does not exist".
                  example: 80000001-1234567890
                payablesAccountId:
                  type: string
                  description: >-
                    The Accounts-Payable (A/P) account to which this bill check payment is assigned, used to
                    track the amount owed. If not specified, QuickBooks Desktop will use its default A/P
                    account.


                    **IMPORTANT**: If this bill check payment is linked to other transactions, this A/P
                    account must match the `payablesAccount` used in those other transactions.
                  example: 80000001-1234567890
                transactionDate:
                  type: string
                  format: date
                  description: The date of this bill check payment, in ISO 8601 format (YYYY-MM-DD).
                  example: '2021-10-01'
                bankAccountId:
                  type: string
                  description: >-
                    The bank account from which the funds are being drawn for this bill check payment; e.g.,
                    Checking or Savings. This bill check payment will decrease the balance of this account.
                  example: 80000001-1234567890
                isQueuedForPrint:
                  type: boolean
                  description: >-
                    Indicates whether this bill check payment is included in the queue of documents for
                    QuickBooks to print.
                  example: true
                refNumber:
                  type: string
                  description: >-
                    The case-sensitive user-defined reference number for this bill check payment, which can be
                    used to identify the transaction in QuickBooks. This value is not required to be unique
                    and can be arbitrarily changed by the QuickBooks user. When left blank in this create
                    request, this field will be left blank in QuickBooks (i.e., it does *not* auto-increment).


                    **IMPORTANT**: For checks, this field is the check number.
                  example: CHECK-1234
                memo:
                  type: string
                  description: A memo or note for this bill check payment.
                  example: Payment for office supplies - Invoice INV-1234
                exchangeRate:
                  type: number
                  description: >-
                    The market exchange rate between this bill check payment's currency and the home currency
                    in QuickBooks at the time of this transaction. Represented as a decimal value (e.g.,
                    1.2345 for 1 EUR = 1.2345 USD if USD is the home currency).
                  example: 1.2345
                externalId:
                  type: string
                  format: uuid
                  description: >-
                    A globally unique identifier (GUID) you, the developer, can provide for tracking this
                    object in your external system. This field is immutable and can only be set during object
                    creation.


                    **IMPORTANT**: This field must be formatted as a valid GUID; otherwise, QuickBooks will
                    return an error.
                  example: 12345678-abcd-1234-abcd-1234567890ab
                applyToTransactions:
                  type: array
                  items:
                    type: object
                    properties:
                      transactionId:
                        type: string
                        description: The ID of the receivable transaction to which this payment is applied.
                        example: 123ABC-1234567890
                      paymentAmount:
                        type: string
                        description: >-
                          The monetary amount to apply to the receivable transaction, represented as a decimal
                          string.
                        example: '25.00'
                      applyCredits:
                        type: array
                        items:
                          type: object
                          properties:
                            creditTransactionId:
                              type: string
                              description: >-
                                The unique identifier of the credit transaction (credit memo or vendor credit)
                                to apply to this transaction.
                              example: ABCDEF-1234567890
                            appliedAmount:
                              type: string
                              description: >-
                                The amount of credit applied to this transaction. This could include customer
                                deposits, payments, or credits. Represented as a decimal string.
                              example: '100.00'
                            overrideCreditApplication:
                              type: boolean
                              description: Indicates whether to override the credit.
                              example: false
                              default: false
                          required:
                            - creditTransactionId
                            - appliedAmount
                          additionalProperties: false
                        minItems: 1
                        description: >-
                          Credit memos to apply to this receivable transaction, reducing its balance. This
                          creates a link between this receivable transaction and the specified credit memos.


                          **IMPORTANT**: By default, QuickBooks will not return any information about the
                          linked transactions in this endpoint's response even when this request is
                          successful. To see the transactions linked via this field, refetch the receivable
                          transaction and check the `linkedTransactions` response field. If fetching a list of
                          receivable transactions, you must also specify the parameter
                          `includeLinkedTransactions=true` to see the `linkedTransactions` response field.
                      discountAmount:
                        type: string
                        description: >-
                          The monetary amount by which to reduce the receivable transaction's receivable
                          amount, represented as a decimal string.
                        example: '50.00'
                      discountAccountId:
                        type: string
                        description: The financial account used to track this receivable transaction's discount.
                        example: 80000001-1234567890
                      discountClassId:
                        type: string
                        description: The class used to track this receivable transaction's discount.
                        example: 80000001-1234567890
                    required:
                      - transactionId
                    additionalProperties: false
                  minItems: 1
                  description: >-
                    The bills to be paid by this bill check payment. This will create a link between this bill
                    check payment and the specified bills.


                    **IMPORTANT**: In each `applyToTransactions` object, you must specify either
                    `paymentAmount`, `applyCredits`, `discountAmount`, or any combination of these; if none of
                    these are specified, you will receive an error for an empty transaction.


                    **IMPORTANT**: The target bill must have `isPaid=false`, otherwise, QuickBooks will report
                    this object as "cannot be found".
              required:
                - vendorId
                - transactionDate
                - bankAccountId
                - applyToTransactions
              additionalProperties: false
      responses:
        '200':
          description: Returns the newly created bill check payment.
          headers:
            Conductor-Request-Id:
              schema:
                type: string
                description: The unique identifier for this API request.
                example: req_1234567abcdefg
              required: true
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/qbd_bill_check_payment'
      x-codeSamples:
        - lang: JavaScript
          source: |-
            import Conductor from 'conductor-node';

            const client = new Conductor({
              apiKey: process.env['CONDUCTOR_SECRET_KEY'], // This is the default and can be omitted
            });

            async function main() {
              const billCheckPayment = await client.qbd.billCheckPayments.create({
                applyToTransactions: [{ transactionId: '123ABC-1234567890' }],
                bankAccountId: '80000001-1234567890',
                transactionDate: '2021-10-01',
                vendorId: '80000001-1234567890',
                conductorEndUserId: 'end_usr_1234567abcdefg',
              });

              console.log(billCheckPayment.id);
            }

            main();
        - lang: Python
          source: |-
            import os
            from conductor import Conductor
            from conductor._utils import parse_date

            client = Conductor(
                api_key=os.environ.get("CONDUCTOR_SECRET_KEY"),  # This is the default and can be omitted
            )
            bill_check_payment = client.qbd.bill_check_payments.create(
                apply_to_transactions=[{
                    "transaction_id": "123ABC-1234567890"
                }],
                bank_account_id="80000001-1234567890",
                transaction_date=parse_date("2021-10-01"),
                vendor_id="80000001-1234567890",
                conductor_end_user_id="end_usr_1234567abcdefg",
            )
            print(bill_check_payment.id)
  /quickbooks-desktop/bill-check-payments/{id}:
    get:
      summary: Retrieve a bill check payment
      description: Retrieves a bill check payment by ID.
      security:
        - BearerAuth: []
      parameters:
        - in: path
          name: id
          description: The QuickBooks-assigned unique identifier of the bill check payment to retrieve.
          schema:
            type: string
            description: The QuickBooks-assigned unique identifier of the bill check payment to retrieve.
            example: 123ABC-1234567890
          required: true
        - in: header
          name: Conductor-End-User-Id
          description: 'The ID of the EndUser to receive this request (e.g., `"Conductor-End-User-Id: {{END_USER_ID}}"`).'
          schema:
            type: string
            description: >-
              The ID of the EndUser to receive this request (e.g., `"Conductor-End-User-Id:
              {{END_USER_ID}}"`).
            example: end_usr_1234567abcdefg
            x-stainless-naming:
              node:
                method_argument: conductorEndUserId
          required: true
      responses:
        '200':
          description: Returns the specified bill check payment.
          headers:
            Conductor-Request-Id:
              schema:
                type: string
                description: The unique identifier for this API request.
                example: req_1234567abcdefg
              required: true
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/qbd_bill_check_payment'
      x-codeSamples:
        - lang: JavaScript
          source: |-
            import Conductor from 'conductor-node';

            const client = new Conductor({
              apiKey: process.env['CONDUCTOR_SECRET_KEY'], // This is the default and can be omitted
            });

            async function main() {
              const billCheckPayment = await client.qbd.billCheckPayments.retrieve('123ABC-1234567890', {
                conductorEndUserId: 'end_usr_1234567abcdefg',
              });

              console.log(billCheckPayment.id);
            }

            main();
        - lang: Python
          source: |-
            import os
            from conductor import Conductor

            client = Conductor(
                api_key=os.environ.get("CONDUCTOR_SECRET_KEY"),  # This is the default and can be omitted
            )
            bill_check_payment = client.qbd.bill_check_payments.retrieve(
                id="123ABC-1234567890",
                conductor_end_user_id="end_usr_1234567abcdefg",
            )
            print(bill_check_payment.id)
    post:
      summary: Update a bill check payment
      description: Updates an existing bill check payment.
      security:
        - BearerAuth: []
      parameters:
        - in: path
          name: id
          description: The QuickBooks-assigned unique identifier of the bill check payment to update.
          schema:
            type: string
            description: The QuickBooks-assigned unique identifier of the bill check payment to update.
            example: 123ABC-1234567890
          required: true
        - in: header
          name: Conductor-End-User-Id
          description: 'The ID of the EndUser to receive this request (e.g., `"Conductor-End-User-Id: {{END_USER_ID}}"`).'
          schema:
            type: string
            description: >-
              The ID of the EndUser to receive this request (e.g., `"Conductor-End-User-Id:
              {{END_USER_ID}}"`).
            example: end_usr_1234567abcdefg
            x-stainless-naming:
              node:
                method_argument: conductorEndUserId
          required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                revisionNumber:
                  type: string
                  description: >-
                    The current QuickBooks-assigned revision number of the bill check payment object you are
                    updating, which you can get by fetching the object first. Provide the most recent
                    `revisionNumber` to ensure you're working with the latest data; otherwise, the update will
                    return an error.
                  example: '1721172183'
                transactionDate:
                  type: string
                  format: date
                  description: The date of this bill check payment, in ISO 8601 format (YYYY-MM-DD).
                  example: '2021-10-01'
                bankAccountId:
                  type: string
                  description: >-
                    The bank account from which the funds are being drawn for this bill check payment; e.g.,
                    Checking or Savings. This bill check payment will decrease the balance of this account.
                  example: 80000001-1234567890
                amount:
                  type: string
                  description: The monetary amount of this bill check payment, represented as a decimal string.
                  example: '1000.00'
                exchangeRate:
                  type: number
                  description: >-
                    The market exchange rate between this bill check payment's currency and the home currency
                    in QuickBooks at the time of this transaction. Represented as a decimal value (e.g.,
                    1.2345 for 1 EUR = 1.2345 USD if USD is the home currency).
                  example: 1.2345
                isQueuedForPrint:
                  type: boolean
                  description: >-
                    Indicates whether this bill check payment is included in the queue of documents for
                    QuickBooks to print.
                  example: true
                refNumber:
                  type: string
                  description: >-
                    The case-sensitive user-defined reference number for this bill check payment, which can be
                    used to identify the transaction in QuickBooks. This value is not required to be unique
                    and can be arbitrarily changed by the QuickBooks user.


                    **IMPORTANT**: For checks, this field is the check number.
                  example: CHECK-1234
                memo:
                  type: string
                  description: A memo or note for this bill check payment.
                  example: Payment for office supplies - Invoice INV-1234
                applyToTransactions:
                  type: array
                  items:
                    type: object
                    properties:
                      transactionId:
                        type: string
                        description: The ID of the receivable transaction to which this payment is applied.
                        example: 123ABC-1234567890
                      paymentAmount:
                        type: string
                        description: >-
                          The monetary amount to apply to the receivable transaction, represented as a decimal
                          string.
                        example: '25.00'
                      applyCredits:
                        type: array
                        items:
                          type: object
                          properties:
                            creditTransactionId:
                              type: string
                              description: >-
                                The unique identifier of the credit transaction (credit memo or vendor credit)
                                to apply to this transaction.
                              example: ABCDEF-1234567890
                            appliedAmount:
                              type: string
                              description: >-
                                The amount of credit applied to this transaction. This could include customer
                                deposits, payments, or credits. Represented as a decimal string.
                              example: '100.00'
                            overrideCreditApplication:
                              type: boolean
                              description: Indicates whether to override the credit.
                              example: false
                              default: false
                          required:
                            - creditTransactionId
                            - appliedAmount
                          additionalProperties: false
                        minItems: 1
                        description: >-
                          Credit memos to apply to this receivable transaction, reducing its balance. This
                          creates a link between this receivable transaction and the specified credit memos.


                          **IMPORTANT**: By default, QuickBooks will not return any information about the
                          linked transactions in this endpoint's response even when this request is
                          successful. To see the transactions linked via this field, refetch the receivable
                          transaction and check the `linkedTransactions` response field. If fetching a list of
                          receivable transactions, you must also specify the parameter
                          `includeLinkedTransactions=true` to see the `linkedTransactions` response field.
                      discountAmount:
                        type: string
                        description: >-
                          The monetary amount by which to reduce the receivable transaction's receivable
                          amount, represented as a decimal string.
                        example: '50.00'
                      discountAccountId:
                        type: string
                        description: The financial account used to track this receivable transaction's discount.
                        example: 80000001-1234567890
                      discountClassId:
                        type: string
                        description: The class used to track this receivable transaction's discount.
                        example: 80000001-1234567890
                    required:
                      - transactionId
                    additionalProperties: false
                  minItems: 1
                  description: >-
                    The bills to be paid by this bill check payment. This will create a link between this bill
                    check payment and the specified bills.


                    **IMPORTANT**: In each `applyToTransactions` object, you must specify either
                    `paymentAmount`, `applyCredits`, `discountAmount`, or any combination of these; if none of
                    these are specified, you will receive an error for an empty transaction.


                    **IMPORTANT**: The target bill must have `isPaid=false`, otherwise, QuickBooks will report
                    this object as "cannot be found".
              required:
                - revisionNumber
              additionalProperties: false
      responses:
        '200':
          description: Returns the updated bill check payment.
          headers:
            Conductor-Request-Id:
              schema:
                type: string
                description: The unique identifier for this API request.
                example: req_1234567abcdefg
              required: true
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/qbd_bill_check_payment'
      x-codeSamples:
        - lang: JavaScript
          source: |-
            import Conductor from 'conductor-node';

            const client = new Conductor({
              apiKey: process.env['CONDUCTOR_SECRET_KEY'], // This is the default and can be omitted
            });

            async function main() {
              const billCheckPayment = await client.qbd.billCheckPayments.update('123ABC-1234567890', {
                revisionNumber: '1721172183',
                conductorEndUserId: 'end_usr_1234567abcdefg',
              });

              console.log(billCheckPayment.id);
            }

            main();
        - lang: Python
          source: |-
            import os
            from conductor import Conductor

            client = Conductor(
                api_key=os.environ.get("CONDUCTOR_SECRET_KEY"),  # This is the default and can be omitted
            )
            bill_check_payment = client.qbd.bill_check_payments.update(
                id="123ABC-1234567890",
                revision_number="1721172183",
                conductor_end_user_id="end_usr_1234567abcdefg",
            )
            print(bill_check_payment.id)
    delete:
      summary: Delete a bill check payment
      description: >-
        Permanently deletes a a bill check payment. The deletion will fail if the bill check payment is
        currently in use or has any linked transactions that are in use.
      security:
        - BearerAuth: []
      parameters:
        - in: path
          name: id
          description: The QuickBooks-assigned unique identifier of the bill check payment to delete.
          schema:
            type: string
            description: The QuickBooks-assigned unique identifier of the bill check payment to delete.
            example: 123ABC-1234567890
          required: true
        - in: header
          name: Conductor-End-User-Id
          description: 'The ID of the EndUser to receive this request (e.g., `"Conductor-End-User-Id: {{END_USER_ID}}"`).'
          schema:
            type: string
            description: >-
              The ID of the EndUser to receive this request (e.g., `"Conductor-End-User-Id:
              {{END_USER_ID}}"`).
            example: end_usr_1234567abcdefg
            x-stainless-naming:
              node:
                method_argument: conductorEndUserId
          required: true
      responses:
        '200':
          description: Returns a confirmation of the deletion with the ID of the deleted bill check payment.
          headers:
            Conductor-Request-Id:
              schema:
                type: string
                description: The unique identifier for this API request.
                example: req_1234567abcdefg
              required: true
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: The QuickBooks-assigned unique identifier of the deleted bill check payment.
                    example: 123ABC-1234567890
                  objectType:
                    type: string
                    const: qbd_bill_check_payment
                    description: The type of object. This value is always `"qbd_bill_check_payment"`.
                    example: qbd_bill_check_payment
                  refNumber:
                    type:
                      - string
                      - 'null'
                    description: The case-sensitive user-defined reference number of the deleted bill check payment.
                    example: CHECK-1234
                  deleted:
                    type: boolean
                    description: Indicates whether the bill check payment was deleted.
                    example: true
                required:
                  - id
                  - objectType
                  - refNumber
                  - deleted
                additionalProperties: false
      x-codeSamples:
        - lang: JavaScript
          source: |-
            import Conductor from 'conductor-node';

            const client = new Conductor({
              apiKey: process.env['CONDUCTOR_SECRET_KEY'], // This is the default and can be omitted
            });

            async function main() {
              const billCheckPayment = await client.qbd.billCheckPayments.delete('123ABC-1234567890', {
                conductorEndUserId: 'end_usr_1234567abcdefg',
              });

              console.log(billCheckPayment.id);
            }

            main();
        - lang: Python
          source: |-
            import os
            from conductor import Conductor

            client = Conductor(
                api_key=os.environ.get("CONDUCTOR_SECRET_KEY"),  # This is the default and can be omitted
            )
            bill_check_payment = client.qbd.bill_check_payments.delete(
                id="123ABC-1234567890",
                conductor_end_user_id="end_usr_1234567abcdefg",
            )
            print(bill_check_payment.id)
  /quickbooks-desktop/bill-credit-card-payments:
    get:
      summary: List all bill credit card payments
      description: >-
        Returns a list of bill credit card payments. Use the `cursor` parameter to paginate through the
        results.
      security:
        - BearerAuth: []
      parameters:
        - in: query
          name: ids
          description: >-
            Filter for specific bill credit card payments by their QuickBooks-assigned unique identifier(s).


            **IMPORTANT**: If you include this parameter, QuickBooks will ignore all other query parameters
            for this request.


            **NOTE**: If any of the values you specify in this parameter are not found, the request will
            return an error.
          schema:
            type: array
            items:
              type: string
            description: >-
              Filter for specific bill credit card payments by their QuickBooks-assigned unique identifier(s).


              **IMPORTANT**: If you include this parameter, QuickBooks will ignore all other query parameters
              for this request.


              **NOTE**: If any of the values you specify in this parameter are not found, the request will
              return an error.
            example:
              - 123ABC-1234567890
        - in: query
          name: refNumbers
          description: >-
            Filter for specific bill credit card payments by their ref-number(s), case-sensitive. In
            QuickBooks, ref-numbers are not required to be unique and can be arbitrarily changed by the
            QuickBooks user.


            **IMPORTANT**: If you include this parameter, QuickBooks will ignore all other query parameters
            for this request.


            **NOTE**: If any of the values you specify in this parameter are not found, the request will
            return an error.
          schema:
            type: array
            items:
              type: string
            description: >-
              Filter for specific bill credit card payments by their ref-number(s), case-sensitive. In
              QuickBooks, ref-numbers are not required to be unique and can be arbitrarily changed by the
              QuickBooks user.


              **IMPORTANT**: If you include this parameter, QuickBooks will ignore all other query parameters
              for this request.


              **NOTE**: If any of the values you specify in this parameter are not found, the request will
              return an error.
            example:
              - BILL CREDIT CARD PAYMENT-1234
        - in: query
          name: limit
          description: >-
            The maximum number of objects to return. Accepts values ranging from 1 to 150, defaults to 150.
            When used with cursor-based pagination, this parameter controls how many results are returned per
            page. To paginate through results, combine this with the `cursor` parameter. Each response will
            include a `nextCursor` value that can be passed to subsequent requests to retrieve the next page
            of results.
          schema:
            type: integer
            minimum: 1
            maximum: 150
            default: 150
            description: >-
              The maximum number of objects to return. Accepts values ranging from 1 to 150, defaults to 150.
              When used with cursor-based pagination, this parameter controls how many results are returned
              per page. To paginate through results, combine this with the `cursor` parameter. Each response
              will include a `nextCursor` value that can be passed to subsequent requests to retrieve the next
              page of results.
            example: 150
        - in: query
          name: cursor
          description: >-
            The pagination token to fetch the next set of results when paginating with the `limit` parameter.
            Do not include this parameter on the first call. Use the `nextCursor` value returned in the
            previous response to request subsequent results.
          schema:
            type: string
            description: >-
              The pagination token to fetch the next set of results when paginating with the `limit`
              parameter. Do not include this parameter on the first call. Use the `nextCursor` value returned
              in the previous response to request subsequent results.
            example: 12345678-abcd-abcd-example-1234567890ab
        - in: query
          name: updatedAfter
          description: >-
            Filter for bill credit card payments updated on or after this date and time, in ISO 8601 format
            (YYYY-MM-DDTHH:mm:ss). If you only provide a date (YYYY-MM-DD), the time is assumed to be 00:00:00
            of that day.
          schema:
            type: string
            description: >-
              Filter for bill credit card payments updated on or after this date and time, in ISO 8601 format
              (YYYY-MM-DDTHH:mm:ss). If you only provide a date (YYYY-MM-DD), the time is assumed to be
              00:00:00 of that day.
            example: 2021-01-01T12:34:56.000Z
        - in: query
          name: updatedBefore
          description: >-
            Filter for bill credit card payments updated on or before this date and time, in ISO 8601 format
            (YYYY-MM-DDTHH:mm:ss). If you only provide a date (YYYY-MM-DD), the time is assumed to be 23:59:59
            of that day.
          schema:
            type: string
            description: >-
              Filter for bill credit card payments updated on or before this date and time, in ISO 8601 format
              (YYYY-MM-DDTHH:mm:ss). If you only provide a date (YYYY-MM-DD), the time is assumed to be
              23:59:59 of that day.
            example: 2021-02-01T12:34:56.000Z
        - in: query
          name: transactionDateFrom
          description: >-
            Filter for bill credit card payments whose `date` field is on or after this date, in ISO 8601
            format (YYYY-MM-DD).
          schema:
            type: string
            format: date
            description: >-
              Filter for bill credit card payments whose `date` field is on or after this date, in ISO 8601
              format (YYYY-MM-DD).
            example: '2021-01-01'
        - in: query
          name: transactionDateTo
          description: >-
            Filter for bill credit card payments whose `date` field is on or before this date, in ISO 8601
            format (YYYY-MM-DD).
          schema:
            type: string
            format: date
            description: >-
              Filter for bill credit card payments whose `date` field is on or before this date, in ISO 8601
              format (YYYY-MM-DD).
            example: '2021-02-01'
        - in: query
          name: vendorIds
          description: >-
            Filter for bill credit card payments sent to these vendors. These are the vendors who sent the
            bills paid by these credit card payments.
          schema:
            type: array
            items:
              type: string
            description: >-
[...]
