openapi: 3.1.0
info:
  title: Conductor API
  version: 0.0.1
servers:
- url: https://api.conductor.is/v1
security:
- BearerAuth: []
paths:
  /auth-sessions:
    post:
      description: "To launch the authentication flow, create an auth session and\
        \ pass the returned session's `authFlowUrl` to the client for your end-user\
        \ to visit in their browser. Demo: https://connect.conductor.is/qbd/demo"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_auth_sessions_post_request'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/auth_session'
          description: Returns the auth session object.
          headers:
            Conductor-Request-Id:
              explode: false
              required: true
              schema:
                description: The unique identifier for this API request.
                example: req_1234567abcdefg
                type: string
              style: simple
      security:
      - BearerAuth: []
      summary: Create an auth session
      x-codeSamples:
      - lang: JavaScript
        source: |-
          import Conductor from 'conductor-node';

          const client = new Conductor({
            apiKey: process.env['CONDUCTOR_SECRET_KEY'], // This is the default and can be omitted
          });

          async function main() {
            const authSession = await client.authSessions.create({
              endUserId: 'end_usr_1234567abcdefg',
              publishableKey: '{{YOUR_PUBLISHABLE_KEY}}',
            });

            console.log(authSession.id);
          }

          main();
      - lang: Python
        source: |-
          import os
          from conductor import Conductor

          client = Conductor(
              api_key=os.environ.get("CONDUCTOR_SECRET_KEY"),  # This is the default and can be omitted
          )
          auth_session = client.auth_sessions.create(
              end_user_id="end_usr_1234567abcdefg",
              publishable_key="{{YOUR_PUBLISHABLE_KEY}}",
          )
          print(auth_session.id)
  /end-users:
    get:
      description: Returns a list of your end-users.
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_end_users_get_200_response'
          description: "Returns an object with a `data` property that contains an\
            \ array of end-user objects. Each entry in the array is a separate end-user\
            \ object. If no more end-users are available, the resulting array will\
            \ be empty."
          headers:
            Conductor-Request-Id:
              explode: false
              required: true
              schema:
                description: The unique identifier for this API request.
                example: req_1234567abcdefg
                type: string
              style: simple
      security:
      - BearerAuth: []
      summary: List all end-users
      x-codeSamples:
      - lang: JavaScript
        source: |-
          import Conductor from 'conductor-node';

          const client = new Conductor({
            apiKey: process.env['CONDUCTOR_SECRET_KEY'], // This is the default and can be omitted
          });

          async function main() {
            const endUser = await client.endUsers.list();

            console.log(endUser.data);
          }

          main();
      - lang: Python
        source: |-
          import os
          from conductor import Conductor

          client = Conductor(
              api_key=os.environ.get("CONDUCTOR_SECRET_KEY"),  # This is the default and can be omitted
          )
          end_user = client.end_users.list()
          print(end_user.data)
    post:
      description: Creates an end-user.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_end_users_post_request'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/end_user'
          description: Returns the end-user object after successful end-user creation.
          headers:
            Conductor-Request-Id:
              explode: false
              required: true
              schema:
                description: The unique identifier for this API request.
                example: req_1234567abcdefg
                type: string
              style: simple
      security:
      - BearerAuth: []
      summary: Create an end-user
      x-codeSamples:
      - lang: JavaScript
        source: |-
          import Conductor from 'conductor-node';

          const client = new Conductor({
            apiKey: process.env['CONDUCTOR_SECRET_KEY'], // This is the default and can be omitted
          });

          async function main() {
            const endUser = await client.endUsers.create({
              companyName: 'Acme Inc.',
              email: 'alice@acme.com',
              sourceId: '12345678-abcd-abcd-example-1234567890ab',
            });

            console.log(endUser.id);
          }

          main();
      - lang: Python
        source: |-
          import os
          from conductor import Conductor

          client = Conductor(
              api_key=os.environ.get("CONDUCTOR_SECRET_KEY"),  # This is the default and can be omitted
          )
          end_user = client.end_users.create(
              company_name="Acme Inc.",
              email="alice@acme.com",
              source_id="12345678-abcd-abcd-example-1234567890ab",
          )
          print(end_user.id)
  /end-users/{id}:
    delete:
      description: Permanently deletes an end-user object and all of its connections.
      parameters:
      - description: The ID of the end-user to delete.
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: The ID of the end-user to delete.
          example: end_usr_1234567abcdefg
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_end_users__id__delete_200_response'
          description: Returns a confirmation of the deletion with the ID of the deleted
            end-user.
          headers:
            Conductor-Request-Id:
              explode: false
              required: true
              schema:
                description: The unique identifier for this API request.
                example: req_1234567abcdefg
                type: string
              style: simple
      security:
      - BearerAuth: []
      summary: Delete an end-user
      x-codeSamples:
      - lang: JavaScript
        source: |-
          import Conductor from 'conductor-node';

          const client = new Conductor({
            apiKey: process.env['CONDUCTOR_SECRET_KEY'], // This is the default and can be omitted
          });

          async function main() {
            const endUser = await client.endUsers.delete('end_usr_1234567abcdefg');

            console.log(endUser.id);
          }

          main();
      - lang: Python
        source: |-
          import os
          from conductor import Conductor

          client = Conductor(
              api_key=os.environ.get("CONDUCTOR_SECRET_KEY"),  # This is the default and can be omitted
          )
          end_user = client.end_users.delete(
              "end_usr_1234567abcdefg",
          )
          print(end_user.id)
    get:
      description: Retrieves an end-user object.
      parameters:
      - description: The ID of the end-user to retrieve.
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: The ID of the end-user to retrieve.
          example: end_usr_1234567abcdefg
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/end_user'
          description: Returns the end-user object if a valid ID was provided.
          headers:
            Conductor-Request-Id:
              explode: false
              required: true
              schema:
                description: The unique identifier for this API request.
                example: req_1234567abcdefg
                type: string
              style: simple
      security:
      - BearerAuth: []
      summary: Retrieve an end-user
      x-codeSamples:
      - lang: JavaScript
        source: |-
          import Conductor from 'conductor-node';

          const client = new Conductor({
            apiKey: process.env['CONDUCTOR_SECRET_KEY'], // This is the default and can be omitted
          });

          async function main() {
            const endUser = await client.endUsers.retrieve('end_usr_1234567abcdefg');

            console.log(endUser.id);
          }

          main();
      - lang: Python
        source: |-
          import os
          from conductor import Conductor

          client = Conductor(
              api_key=os.environ.get("CONDUCTOR_SECRET_KEY"),  # This is the default and can be omitted
          )
          end_user = client.end_users.retrieve(
              "end_usr_1234567abcdefg",
          )
          print(end_user.id)
  /quickbooks-desktop/accounts:
    get:
      description: "Returns a list of accounts. NOTE: QuickBooks Desktop does not\
        \ support pagination for accounts; hence, there is no `cursor` parameter.\
        \ Users typically have few accounts."
      parameters:
      - description: |-
          Filter for specific accounts by their QuickBooks-assigned unique identifier(s).

          **IMPORTANT**: If you include this parameter, QuickBooks will ignore all other query parameters for this request.

          **NOTE**: If any of the values you specify in this parameter are not found, the request will return an error.
        explode: true
        in: query
        name: ids
        required: false
        schema:
          description: |-
            Filter for specific accounts by their QuickBooks-assigned unique identifier(s).

            **IMPORTANT**: If you include this parameter, QuickBooks will ignore all other query parameters for this request.

            **NOTE**: If any of the values you specify in this parameter are not found, the request will return an error.
          example:
          - 80000001-1234567890
          items:
            type: string
          type: array
        style: form
      - description: |-
          Filter for specific accounts by their full-name(s), case-insensitive. Like `id`, `fullName` is a unique identifier for an account, formed by by combining the names of its parent objects with its own `name`, separated by colons. For example, if an account is under "Corporate" and has the `name` "Accounts-Payable", its `fullName` would be "Corporate:Accounts-Payable".

          **IMPORTANT**: If you include this parameter, QuickBooks will ignore all other query parameters for this request.

          **NOTE**: If any of the values you specify in this parameter are not found, the request will return an error.
        explode: true
        in: query
        name: fullNames
        required: false
        schema:
          description: |-
            Filter for specific accounts by their full-name(s), case-insensitive. Like `id`, `fullName` is a unique identifier for an account, formed by by combining the names of its parent objects with its own `name`, separated by colons. For example, if an account is under "Corporate" and has the `name` "Accounts-Payable", its `fullName` would be "Corporate:Accounts-Payable".

            **IMPORTANT**: If you include this parameter, QuickBooks will ignore all other query parameters for this request.

            **NOTE**: If any of the values you specify in this parameter are not found, the request will return an error.
          example:
          - Corporate:Accounts-Payable
          items:
            type: string
          type: array
        style: form
      - description: |-
          The maximum number of objects to return.

          **IMPORTANT**: QuickBooks Desktop does not support cursor-based pagination for accounts. This parameter will limit the response size, but you cannot fetch subsequent results using a cursor. For pagination, use the name-range parameters instead (e.g., `nameFrom=A&nameTo=B`).

          When this parameter is omitted, the endpoint returns all accounts without limit, unlike paginated endpoints which default to 150 records. This is acceptable because accounts typically have low record counts.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          description: |-
            The maximum number of objects to return.

            **IMPORTANT**: QuickBooks Desktop does not support cursor-based pagination for accounts. This parameter will limit the response size, but you cannot fetch subsequent results using a cursor. For pagination, use the name-range parameters instead (e.g., `nameFrom=A&nameTo=B`).

            When this parameter is omitted, the endpoint returns all accounts without limit, unlike paginated endpoints which default to 150 records. This is acceptable because accounts typically have low record counts.
          example: 10
          minimum: 1
          type: integer
        style: form
      - description: "Filter for accounts that are active, inactive, or both."
        explode: true
        in: query
        name: status
        required: false
        schema:
          default: active
          description: "Filter for accounts that are active, inactive, or both."
          enum:
          - active
          - all
          - inactive
          example: active
          type: string
        style: form
      - description: "Filter for accounts updated on or after this date and time,\
          \ in ISO 8601 format (YYYY-MM-DDTHH:mm:ss). If you only provide a date (YYYY-MM-DD),\
          \ the time is assumed to be 00:00:00 of that day."
        explode: true
        in: query
        name: updatedAfter
        required: false
        schema:
          description: "Filter for accounts updated on or after this date and time,\
            \ in ISO 8601 format (YYYY-MM-DDTHH:mm:ss). If you only provide a date\
            \ (YYYY-MM-DD), the time is assumed to be 00:00:00 of that day."
          example: 2021-01-01T12:34:56.000Z
          type: string
        style: form
      - description: "Filter for accounts updated on or before this date and time,\
          \ in ISO 8601 format (YYYY-MM-DDTHH:mm:ss). If you only provide a date (YYYY-MM-DD),\
          \ the time is assumed to be 23:59:59 of that day."
        explode: true
        in: query
        name: updatedBefore
        required: false
        schema:
          description: "Filter for accounts updated on or before this date and time,\
            \ in ISO 8601 format (YYYY-MM-DDTHH:mm:ss). If you only provide a date\
            \ (YYYY-MM-DD), the time is assumed to be 23:59:59 of that day."
          example: 2021-02-01T12:34:56.000Z
          type: string
        style: form
      - description: "Filter for accounts whose `name` contains this substring, case-insensitive.\
          \ NOTE: If you use this parameter, you cannot also use `nameStartsWith`\
          \ or `nameEndsWith`."
        explode: true
        in: query
        name: nameContains
        required: false
        schema:
          description: "Filter for accounts whose `name` contains this substring,\
            \ case-insensitive. NOTE: If you use this parameter, you cannot also use\
            \ `nameStartsWith` or `nameEndsWith`."
          example: ABC
          type: string
        style: form
      - description: "Filter for accounts whose `name` starts with this substring,\
          \ case-insensitive. NOTE: If you use this parameter, you cannot also use\
          \ `nameContains` or `nameEndsWith`."
        explode: true
        in: query
        name: nameStartsWith
        required: false
        schema:
          description: "Filter for accounts whose `name` starts with this substring,\
            \ case-insensitive. NOTE: If you use this parameter, you cannot also use\
            \ `nameContains` or `nameEndsWith`."
          example: ABC
          type: string
        style: form
      - description: "Filter for accounts whose `name` ends with this substring, case-insensitive.\
          \ NOTE: If you use this parameter, you cannot also use `nameContains` or\
          \ `nameStartsWith`."
        explode: true
        in: query
        name: nameEndsWith
        required: false
        schema:
          description: "Filter for accounts whose `name` ends with this substring,\
            \ case-insensitive. NOTE: If you use this parameter, you cannot also use\
            \ `nameContains` or `nameStartsWith`."
          example: ABC
          type: string
        style: form
      - description: Filter for accounts whose `name` is alphabetically greater than
          or equal to this value.
        explode: true
        in: query
        name: nameFrom
        required: false
        schema:
          description: Filter for accounts whose `name` is alphabetically greater
            than or equal to this value.
          example: A
          type: string
        style: form
      - description: Filter for accounts whose `name` is alphabetically less than
          or equal to this value.
        explode: true
        in: query
        name: nameTo
        required: false
        schema:
          description: Filter for accounts whose `name` is alphabetically less than
            or equal to this value.
          example: Z
          type: string
        style: form
      - description: Filter for accounts of this type.
        explode: true
        in: query
        name: accountType
        required: false
        schema:
          description: Filter for accounts of this type.
          enum:
          - accounts_payable
          - accounts_receivable
          - bank
          - cost_of_goods_sold
          - credit_card
          - equity
          - expense
          - fixed_asset
          - income
          - long_term_liability
          - non_posting
          - other_asset
          - other_current_asset
          - other_current_liability
          - other_expense
          - other_income
          example: income
          type: string
        style: form
      - description: Filter for accounts in these currencies.
        explode: true
        in: query
        name: currencyIds
        required: false
        schema:
          description: Filter for accounts in these currencies.
          example:
          - 80000001-1234567890
          items:
            type: string
          type: array
        style: form
      - description: "The ID of the EndUser to receive this request (e.g., `\"Conductor-End-User-Id:\
          \ {{END_USER_ID}}\"`)."
        explode: false
        in: header
        name: Conductor-End-User-Id
        required: true
        schema:
          description: "The ID of the EndUser to receive this request (e.g., `\"Conductor-End-User-Id:\
            \ {{END_USER_ID}}\"`)."
          example: end_usr_1234567abcdefg
          type: string
          x-stainless-naming:
            node:
              method_argument: conductorEndUserId
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_quickbooks_desktop_accounts_get_200_response'
          description: Returns a list of accounts.
          headers:
            Conductor-Request-Id:
              explode: false
              required: true
              schema:
                description: The unique identifier for this API request.
                example: req_1234567abcdefg
                type: string
              style: simple
      security:
      - BearerAuth: []
      summary: List all accounts
      x-codeSamples:
      - lang: JavaScript
        source: |-
          import Conductor from 'conductor-node';

          const client = new Conductor({
            apiKey: process.env['CONDUCTOR_SECRET_KEY'], // This is the default and can be omitted
          });

          async function main() {
            const account = await client.qbd.accounts.list({ conductorEndUserId: 'end_usr_1234567abcdefg' });

            console.log(account.data);
          }

          main();
      - lang: Python
        source: |-
          import os
          from conductor import Conductor

          client = Conductor(
              api_key=os.environ.get("CONDUCTOR_SECRET_KEY"),  # This is the default and can be omitted
          )
          account = client.qbd.accounts.list(
              conductor_end_user_id="end_usr_1234567abcdefg",
          )
          print(account.data)
    post:
      description: Creates a new financial account.
      parameters:
      - description: "The ID of the EndUser to receive this request (e.g., `\"Conductor-End-User-Id:\
          \ {{END_USER_ID}}\"`)."
        explode: false
        in: header
        name: Conductor-End-User-Id
        required: true
        schema:
          description: "The ID of the EndUser to receive this request (e.g., `\"Conductor-End-User-Id:\
            \ {{END_USER_ID}}\"`)."
          example: end_usr_1234567abcdefg
          type: string
          x-stainless-naming:
            node:
              method_argument: conductorEndUserId
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_quickbooks_desktop_accounts_post_request'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/qbd_account'
          description: Returns the newly created account.
          headers:
            Conductor-Request-Id:
              explode: false
              required: true
              schema:
                description: The unique identifier for this API request.
                example: req_1234567abcdefg
                type: string
              style: simple
      security:
      - BearerAuth: []
      summary: Create an account
      x-codeSamples:
      - lang: JavaScript
        source: |-
          import Conductor from 'conductor-node';

          const client = new Conductor({
            apiKey: process.env['CONDUCTOR_SECRET_KEY'], // This is the default and can be omitted
          });

          async function main() {
            const account = await client.qbd.accounts.create({
              accountType: 'accounts_payable',
              name: 'Accounts-Payable',
              conductorEndUserId: 'end_usr_1234567abcdefg',
            });

            console.log(account.id);
          }

          main();
      - lang: Python
        source: |-
          import os
          from conductor import Conductor

          client = Conductor(
              api_key=os.environ.get("CONDUCTOR_SECRET_KEY"),  # This is the default and can be omitted
          )
          account = client.qbd.accounts.create(
              account_type="accounts_payable",
              name="Accounts-Payable",
              conductor_end_user_id="end_usr_1234567abcdefg",
          )
          print(account.id)
  /quickbooks-desktop/accounts/{id}:
    get:
      description: Retrieves an account by ID.
      parameters:
      - description: The QuickBooks-assigned unique identifier of the account to retrieve.
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: The QuickBooks-assigned unique identifier of the account to
            retrieve.
          example: 80000001-1234567890
          type: string
        style: simple
      - description: "The ID of the EndUser to receive this request (e.g., `\"Conductor-End-User-Id:\
          \ {{END_USER_ID}}\"`)."
        explode: false
        in: header
        name: Conductor-End-User-Id
        required: true
        schema:
          description: "The ID of the EndUser to receive this request (e.g., `\"Conductor-End-User-Id:\
            \ {{END_USER_ID}}\"`)."
          example: end_usr_1234567abcdefg
          type: string
          x-stainless-naming:
            node:
              method_argument: conductorEndUserId
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/qbd_account'
          description: Returns the specified account.
          headers:
            Conductor-Request-Id:
              explode: false
              required: true
              schema:
                description: The unique identifier for this API request.
                example: req_1234567abcdefg
                type: string
              style: simple
      security:
      - BearerAuth: []
      summary: Retrieve an account
      x-codeSamples:
      - lang: JavaScript
        source: |-
          import Conductor from 'conductor-node';

          const client = new Conductor({
            apiKey: process.env['CONDUCTOR_SECRET_KEY'], // This is the default and can be omitted
          });

          async function main() {
            const account = await client.qbd.accounts.retrieve('80000001-1234567890', {
              conductorEndUserId: 'end_usr_1234567abcdefg',
            });

            console.log(account.id);
          }

          main();
      - lang: Python
        source: |-
          import os
          from conductor import Conductor

          client = Conductor(
              api_key=os.environ.get("CONDUCTOR_SECRET_KEY"),  # This is the default and can be omitted
          )
          account = client.qbd.accounts.retrieve(
              id="80000001-1234567890",
              conductor_end_user_id="end_usr_1234567abcdefg",
          )
          print(account.id)
    post:
      description: Updates an existing financial account.
      parameters:
      - description: The QuickBooks-assigned unique identifier of the account to update.
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: The QuickBooks-assigned unique identifier of the account to
            update.
          example: 80000001-1234567890
          type: string
        style: simple
      - description: "The ID of the EndUser to receive this request (e.g., `\"Conductor-End-User-Id:\
          \ {{END_USER_ID}}\"`)."
        explode: false
        in: header
        name: Conductor-End-User-Id
        required: true
        schema:
          description: "The ID of the EndUser to receive this request (e.g., `\"Conductor-End-User-Id:\
            \ {{END_USER_ID}}\"`)."
          example: end_usr_1234567abcdefg
          type: string
          x-stainless-naming:
            node:
              method_argument: conductorEndUserId
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_quickbooks_desktop_accounts__id__post_request'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/qbd_account'
          description: Returns the updated account.
          headers:
            Conductor-Request-Id:
              explode: false
              required: true
              schema:
                description: The unique identifier for this API request.
                example: req_1234567abcdefg
                type: string
              style: simple
      security:
      - BearerAuth: []
      summary: Update an account
      x-codeSamples:
      - lang: JavaScript
        source: |-
          import Conductor from 'conductor-node';

          const client = new Conductor({
            apiKey: process.env['CONDUCTOR_SECRET_KEY'], // This is the default and can be omitted
          });

          async function main() {
            const account = await client.qbd.accounts.update('80000001-1234567890', {
              revisionNumber: '1721172183',
              conductorEndUserId: 'end_usr_1234567abcdefg',
            });

            console.log(account.id);
          }

          main();
      - lang: Python
        source: |-
          import os
          from conductor import Conductor

          client = Conductor(
              api_key=os.environ.get("CONDUCTOR_SECRET_KEY"),  # This is the default and can be omitted
          )
          account = client.qbd.accounts.update(
              id="80000001-1234567890",
              revision_number="1721172183",
              conductor_end_user_id="end_usr_1234567abcdefg",
          )
          print(account.id)
  /quickbooks-desktop/bill-check-payments:
    get:
      description: Returns a list of bill check payments. Use the `cursor` parameter
        to paginate through the results.
      parameters:
      - description: |-
          Filter for specific bill check payments by their QuickBooks-assigned unique identifier(s).

          **IMPORTANT**: If you include this parameter, QuickBooks will ignore all other query parameters for this request.

          **NOTE**: If any of the values you specify in this parameter are not found, the request will return an error.
        explode: true
        in: query
        name: ids
        required: false
        schema:
          description: |-
            Filter for specific bill check payments by their QuickBooks-assigned unique identifier(s).

            **IMPORTANT**: If you include this parameter, QuickBooks will ignore all other query parameters for this request.

            **NOTE**: If any of the values you specify in this parameter are not found, the request will return an error.
          example:
          - 123ABC-1234567890
          items:
            type: string
          type: array
        style: form
      - description: |-
          Filter for specific bill check payments by their ref-number(s), case-sensitive. In QuickBooks, ref-numbers are not required to be unique and can be arbitrarily changed by the QuickBooks user.

          **IMPORTANT**: If you include this parameter, QuickBooks will ignore all other query parameters for this request.

          **NOTE**: If any of the values you specify in this parameter are not found, the request will return an error.
        explode: true
        in: query
        name: refNumbers
        required: false
        schema:
          description: |-
            Filter for specific bill check payments by their ref-number(s), case-sensitive. In QuickBooks, ref-numbers are not required to be unique and can be arbitrarily changed by the QuickBooks user.

            **IMPORTANT**: If you include this parameter, QuickBooks will ignore all other query parameters for this request.

            **NOTE**: If any of the values you specify in this parameter are not found, the request will return an error.
          example:
          - BILL CHECK PAYMENT-1234
          items:
            type: string
          type: array
        style: form
      - description: "The maximum number of objects to return. Accepts values ranging\
          \ from 1 to 150, defaults to 150. When used with cursor-based pagination,\
          \ this parameter controls how many results are returned per page. To paginate\
          \ through results, combine this with the `cursor` parameter. Each response\
          \ will include a `nextCursor` value that can be passed to subsequent requests\
          \ to retrieve the next page of results."
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 150
          description: "The maximum number of objects to return. Accepts values ranging\
            \ from 1 to 150, defaults to 150. When used with cursor-based pagination,\
            \ this parameter controls how many results are returned per page. To paginate\
            \ through results, combine this with the `cursor` parameter. Each response\
            \ will include a `nextCursor` value that can be passed to subsequent requests\
            \ to retrieve the next page of results."
          example: 150
          maximum: 150
          minimum: 1
          type: integer
        style: form
      - description: The pagination token to fetch the next set of results when paginating
          with the `limit` parameter. Do not include this parameter on the first call.
          Use the `nextCursor` value returned in the previous response to request
          subsequent results.
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          description: The pagination token to fetch the next set of results when
            paginating with the `limit` parameter. Do not include this parameter on
            the first call. Use the `nextCursor` value returned in the previous response
            to request subsequent results.
          example: 12345678-abcd-abcd-example-1234567890ab
          type: string
        style: form
      - description: "Filter for bill check payments updated on or after this date\
          \ and time, in ISO 8601 format (YYYY-MM-DDTHH:mm:ss). If you only provide\
          \ a date (YYYY-MM-DD), the time is assumed to be 00:00:00 of that day."
        explode: true
        in: query
        name: updatedAfter
        required: false
        schema:
          description: "Filter for bill check payments updated on or after this date\
            \ and time, in ISO 8601 format (YYYY-MM-DDTHH:mm:ss). If you only provide\
            \ a date (YYYY-MM-DD), the time is assumed to be 00:00:00 of that day."
          example: 2021-01-01T12:34:56.000Z
          type: string
        style: form
      - description: "Filter for bill check payments updated on or before this date\
          \ and time, in ISO 8601 format (YYYY-MM-DDTHH:mm:ss). If you only provide\
          \ a date (YYYY-MM-DD), the time is assumed to be 23:59:59 of that day."
        explode: true
        in: query
        name: updatedBefore
        required: false
        schema:
          description: "Filter for bill check payments updated on or before this date\
            \ and time, in ISO 8601 format (YYYY-MM-DDTHH:mm:ss). If you only provide\
            \ a date (YYYY-MM-DD), the time is assumed to be 23:59:59 of that day."
          example: 2021-02-01T12:34:56.000Z
          type: string
        style: form
      - description: "Filter for bill check payments whose `date` field is on or after\
          \ this date, in ISO 8601 format (YYYY-MM-DD)."
        explode: true
        in: query
        name: transactionDateFrom
        required: false
        schema:
          description: "Filter for bill check payments whose `date` field is on or\
            \ after this date, in ISO 8601 format (YYYY-MM-DD)."
          example: 2021-01-01
          format: date
          type: string
        style: form
      - description: "Filter for bill check payments whose `date` field is on or before\
          \ this date, in ISO 8601 format (YYYY-MM-DD)."
        explode: true
        in: query
        name: transactionDateTo
        required: false
        schema:
          description: "Filter for bill check payments whose `date` field is on or\
            \ before this date, in ISO 8601 format (YYYY-MM-DD)."
          example: 2021-02-01
          format: date
          type: string
        style: form
      - description: Filter for bill check payments sent to these vendors. These are
          the vendors who sent the bills paid by these checks.
        explode: true
        in: query
        name: vendorIds
        required: false
        schema:
          description: Filter for bill check payments sent to these vendors. These
            are the vendors who sent the bills paid by these checks.
          example:
          - 80000001-1234567890
          items:
            type: string
          type: array
        style: form
      - description: Filter for bill check payments associated with these accounts.
        explode: true
        in: query
        name: accountIds
        required: false
        schema:
          description: Filter for bill check payments associated with these accounts.
          example:
          - 80000001-1234567890
          items:
            type: string
          type: array
        style: form
      - description: "Filter for bill check payments whose `refNumber` contains this\
          \ substring. (For checks, this field is the check number.) NOTE: If you\
          \ use this parameter, you cannot also use `refNumberStartsWith` or `refNumberEndsWith`."
        explode: true
        in: query
        name: refNumberContains
        required: false
        schema:
          description: "Filter for bill check payments whose `refNumber` contains\
            \ this substring. (For checks, this field is the check number.) NOTE:\
            \ If you use this parameter, you cannot also use `refNumberStartsWith`\
            \ or `refNumberEndsWith`."
          example: CHECK-1234
          type: string
        style: form
      - description: "Filter for bill check payments whose `refNumber` starts with\
          \ this substring. (For checks, this field is the check number.) NOTE: If\
          \ you use this parameter, you cannot also use `refNumberContains` or `refNumberEndsWith`."
        explode: true
        in: query
        name: refNumberStartsWith
        required: false
        schema:
          description: "Filter for bill check payments whose `refNumber` starts with\
            \ this substring. (For checks, this field is the check number.) NOTE:\
            \ If you use this parameter, you cannot also use `refNumberContains` or\
            \ `refNumberEndsWith`."
          example: CHECK
          type: string
        style: form
      - description: "Filter for bill check payments whose `refNumber` ends with this\
          \ substring. (For checks, this field is the check number.) NOTE: If you\
          \ use this parameter, you cannot also use `refNumberContains` or `refNumberStartsWith`."
        explode: true
        in: query
        name: refNumberEndsWith
        required: false
        schema:
          description: "Filter for bill check payments whose `refNumber` ends with\
            \ this substring. (For checks, this field is the check number.) NOTE:\
            \ If you use this parameter, you cannot also use `refNumberContains` or\
            \ `refNumberStartsWith`."
          example: "1234"
          type: string
        style: form
      - description: "Filter for bill check payments whose `refNumber` is greater\
          \ than or equal to this value. (For checks, this field is the check number.)\
          \ If omitted, the range will begin with the first number of the list. Uses\
          \ a numerical comparison for values that contain only digits; otherwise,\
          \ uses a lexicographical comparison."
        explode: true
        in: query
        name: refNumberFrom
        required: false
        schema:
          description: "Filter for bill check payments whose `refNumber` is greater\
            \ than or equal to this value. (For checks, this field is the check number.)\
            \ If omitted, the range will begin with the first number of the list.\
            \ Uses a numerical comparison for values that contain only digits; otherwise,\
            \ uses a lexicographical comparison."
          example: CHECK-0001
          type: string
        style: form
      - description: "Filter for bill check payments whose `refNumber` is less than\
          \ or equal to this value. (For checks, this field is the check number.)\
          \ If omitted, the range will end with the last number of the list. Uses\
          \ a numerical comparison for values that contain only digits; otherwise,\
          \ uses a lexicographical comparison."
        explode: true
        in: query
        name: refNumberTo
        required: false
        schema:
          description: "Filter for bill check payments whose `refNumber` is less than\
            \ or equal to this value. (For checks, this field is the check number.)\
            \ If omitted, the range will end with the last number of the list. Uses\
            \ a numerical comparison for values that contain only digits; otherwise,\
            \ uses a lexicographical comparison."
          example: CHECK-9999
          type: string
        style: form
      - description: Filter for bill check payments in these currencies.
        explode: true
        in: query
        name: currencyIds
        required: false
        schema:
          description: Filter for bill check payments in these currencies.
          example:
          - 80000001-1234567890
          items:
            type: string
          type: array
        style: form
      - description: Whether to include line items in the response. Defaults to `true`.
        explode: true
        in: query
        name: includeLineItems
        required: false
        schema:
          default: true
          description: Whether to include line items in the response. Defaults to
            `true`.
          example: true
          type: boolean
        style: form
      - description: "The ID of the EndUser to receive this request (e.g., `\"Conductor-End-User-Id:\
          \ {{END_USER_ID}}\"`)."
        explode: false
        in: header
        name: Conductor-End-User-Id
        required: true
        schema:
          description: "The ID of the EndUser to receive this request (e.g., `\"Conductor-End-User-Id:\
            \ {{END_USER_ID}}\"`)."
          example: end_usr_1234567abcdefg
          type: string
          x-stainless-naming:
            node:
              method_argument: conductorEndUserId
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_quickbooks_desktop_bill_check_payments_get_200_response'
          description: Returns a list of bill check payments.
          headers:
            Conductor-Request-Id:
              explode: false
              required: true
              schema:
                description: The unique identifier for this API request.
                example: req_1234567abcdefg
                type: string
              style: simple
      security:
      - BearerAuth: []
      summary: List all bill check payments
      x-codeSamples:
      - lang: JavaScript
        source: |-
          import Conductor from 'conductor-node';

          const client = new Conductor({
            apiKey: process.env['CONDUCTOR_SECRET_KEY'], // This is the default and can be omitted
          });

          async function main() {
            // Automatically fetches more pages as needed.
            for await (const billCheckPayment of client.qbd.billCheckPayments.list({
              conductorEndUserId: 'end_usr_1234567abcdefg',
            })) {
              console.log(billCheckPayment.id);
            }
          }

          main();
      - lang: Python
        source: |-
          import os
          from conductor import Conductor

          client = Conductor(
              api_key=os.environ.get("CONDUCTOR_SECRET_KEY"),  # This is the default and can be omitted
          )
          page = client.qbd.bill_check_payments.list(
              conductor_end_user_id="end_usr_1234567abcdefg",
          )
          page = page.data[0]
          print(page.id)
    post:
      description: Creates a new bill check payment.
      parameters:
      - description: "The ID of the EndUser to receive this request (e.g., `\"Conductor-End-User-Id:\
          \ {{END_USER_ID}}\"`)."
        explode: false
        in: header
        name: Conductor-End-User-Id
        required: true
        schema:
          description: "The ID of the EndUser to receive this request (e.g., `\"Conductor-End-User-Id:\
            \ {{END_USER_ID}}\"`)."
          example: end_usr_1234567abcdefg
          type: string
          x-stainless-naming:
            node:
              method_argument: conductorEndUserId
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_quickbooks_desktop_bill_check_payments_post_request'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/qbd_bill_check_payment'
          description: Returns the newly created bill check payment.
          headers:
            Conductor-Request-Id:
              explode: false
              required: true
              schema:
                description: The unique identifier for this API request.
                example: req_1234567abcdefg
                type: string
              style: simple
      security:
      - BearerAuth: []
      summary: Create a bill check payment
      x-codeSamples:
      - lang: JavaScript
        source: |-
          import Conductor from 'conductor-node';

          const client = new Conductor({
            apiKey: process.env['CONDUCTOR_SECRET_KEY'], // This is the default and can be omitted
          });

          async function main() {
            const billCheckPayment = await client.qbd.billCheckPayments.create({
              applyToTransactions: [{ transactionId: '123ABC-1234567890' }],
              bankAccountId: '80000001-1234567890',
              transactionDate: '2021-10-01',
              vendorId: '80000001-1234567890',
              conductorEndUserId: 'end_usr_1234567abcdefg',
            });

            console.log(billCheckPayment.id);
          }

          main();
      - lang: Python
        source: |-
          import os
          from conductor import Conductor
          from conductor._utils import parse_date

          client = Conductor(
              api_key=os.environ.get("CONDUCTOR_SECRET_KEY"),  # This is the default and can be omitted
          )
          bill_check_payment = client.qbd.bill_check_payments.create(
              apply_to_transactions=[{
                  "transaction_id": "123ABC-1234567890"
              }],
              bank_account_id="80000001-1234567890",
              transaction_date=parse_date("2021-10-01"),
              vendor_id="80000001-1234567890",
              conductor_end_user_id="end_usr_1234567abcdefg",
          )
          print(bill_check_payment.id)
  /quickbooks-desktop/bill-check-payments/{id}:
    delete:
      description: Permanently deletes a a bill check payment. The deletion will fail
        if the bill check payment is currently in use or has any linked transactions
        that are in use.
      parameters:
      - description: The QuickBooks-assigned unique identifier of the bill check payment
          to delete.
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: The QuickBooks-assigned unique identifier of the bill check
            payment to delete.
          example: 123ABC-1234567890
          type: string
        style: simple
      - description: "The ID of the EndUser to receive this request (e.g., `\"Conductor-End-User-Id:\
          \ {{END_USER_ID}}\"`)."
        explode: false
        in: header
        name: Conductor-End-User-Id
        required: true
        schema:
          description: "The ID of the EndUser to receive this request (e.g., `\"Conductor-End-User-Id:\
            \ {{END_USER_ID}}\"`)."
          example: end_usr_1234567abcdefg
          type: string
          x-stainless-naming:
            node:
              method_argument: conductorEndUserId
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_quickbooks_desktop_bill_check_payments__id__delete_200_response'
          description: Returns a confirmation of the deletion with the ID of the deleted
            bill check payment.
          headers:
            Conductor-Request-Id:
              explode: false
              required: true
              schema:
                description: The unique identifier for this API request.
                example: req_1234567abcdefg
                type: string
              style: simple
      security:
      - BearerAuth: []
      summary: Delete a bill check payment
      x-codeSamples:
      - lang: JavaScript
        source: |-
          import Conductor from 'conductor-node';

          const client = new Conductor({
            apiKey: process.env['CONDUCTOR_SECRET_KEY'], // This is the default and can be omitted
          });

          async function main() {
            const billCheckPayment = await client.qbd.billCheckPayments.delete('123ABC-1234567890', {
              conductorEndUserId: 'end_usr_1234567abcdefg',
            });

            console.log(billCheckPayment.id);
          }

          main();
      - lang: Python
        source: |-
          import os
          from conductor import Conductor

          client = Conductor(
              api_key=os.environ.get("CONDUCTOR_SECRET_KEY"),  # This is the default and can be omitted
          )
          bill_check_payment = client.qbd.bill_check_payments.delete(
              id="123ABC-1234567890",
              conductor_end_user_id="end_usr_1234567abcdefg",
          )
          print(bill_check_payment.id)
    get:
      description: Retrieves a bill check payment by ID.
      parameters:
      - description: The QuickBooks-assigned unique identifier of the bill check payment
          to retrieve.
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: The QuickBooks-assigned unique identifier of the bill check
            payment to retrieve.
          example: 123ABC-1234567890
          type: string
        style: simple
      - description: "The ID of the EndUser to receive this request (e.g., `\"Conductor-End-User-Id:\
          \ {{END_USER_ID}}\"`)."
        explode: false
        in: header
        name: Conductor-End-User-Id
        required: true
        schema:
          description: "The ID of the EndUser to receive this request (e.g., `\"Conductor-End-User-Id:\
            \ {{END_USER_ID}}\"`)."
          example: end_usr_1234567abcdefg
          type: string
          x-stainless-naming:
            node:
              method_argument: conductorEndUserId
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/qbd_bill_check_payment'
          description: Returns the specified bill check payment.
          headers:
            Conductor-Request-Id:
              explode: false
              required: true
              schema:
                description: The unique identifier for this API request.
                example: req_1234567abcdefg
                type: string
              style: simple
      security:
      - BearerAuth: []
      summary: Retrieve a bill check payment
      x-codeSamples:
      - lang: JavaScript
        source: |-
          import Conductor from 'conductor-node';

          const client = new Conductor({
            apiKey: process.env['CONDUCTOR_SECRET_KEY'], // This is the default and can be omitted
          });

          async function main() {
            const billCheckPayment = await client.qbd.billCheckPayments.retrieve('123ABC-1234567890', {
              conductorEndUserId: 'end_usr_1234567abcdefg',
            });

            console.log(billCheckPayment.id);
          }

          main();
      - lang: Python
        source: |-
          import os
          from conductor import Conductor

          client = Conductor(
              api_key=os.environ.get("CONDUCTOR_SECRET_KEY"),  # This is the default and can be omitted
          )
          bill_check_payment = client.qbd.bill_check_payments.retrieve(
              id="123ABC-1234567890",
              conductor_end_user_id="end_usr_1234567abcdefg",
          )
          print(bill_check_payment.id)
    post:
      description: Updates an existing bill check payment.
      parameters:
      - description: The QuickBooks-assigned unique identifier of the bill check payment
          to update.
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: The QuickBooks-assigned unique identifier of the bill check
            payment to update.
          example: 123ABC-1234567890
          type: string
        style: simple
      - description: "The ID of the EndUser to receive this request (e.g., `\"Conductor-End-User-Id:\
          \ {{END_USER_ID}}\"`)."
        explode: false
        in: header
        name: Conductor-End-User-Id
        required: true
        schema:
          description: "The ID of the EndUser to receive this request (e.g., `\"Conductor-End-User-Id:\
            \ {{END_USER_ID}}\"`)."
          example: end_usr_1234567abcdefg
          type: string
          x-stainless-naming:
            node:
              method_argument: conductorEndUserId
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_quickbooks_desktop_bill_check_payments__id__post_request'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/qbd_bill_check_payment'
          description: Returns the updated bill check payment.
          headers:
            Conductor-Request-Id:
              explode: false
              required: true
              schema:
                description: The unique identifier for this API request.
                example: req_1234567abcdefg
                type: string
              style: simple
      security:
      - BearerAuth: []
      summary: Update a bill check payment
      x-codeSamples:
      - lang: JavaScript
        source: |-
          import Conductor from 'conductor-node';

          const client = new Conductor({
            apiKey: process.env['CONDUCTOR_SECRET_KEY'], // This is the default and can be omitted
          });

          async function main() {
            const billCheckPayment = await client.qbd.billCheckPayments.update('123ABC-1234567890', {
              revisionNumber: '1721172183',
              conductorEndUserId: 'end_usr_1234567abcdefg',
            });

            console.log(billCheckPayment.id);
          }

          main();
      - lang: Python
        source: |-
          import os
          from conductor import Conductor

          client = Conductor(
              api_key=os.environ.get("CONDUCTOR_SECRET_KEY"),  # This is the default and can be omitted
          )
          bill_check_payment = client.qbd.bill_check_payments.update(
              id="123ABC-1234567890",
              revision_number="1721172183",
              conductor_end_user_id="end_usr_1234567abcdefg",
          )
          print(bill_check_payment.id)
  /quickbooks-desktop/bill-credit-card-payments:
    get:
      description: Returns a list of bill credit card payments. Use the `cursor` parameter
        to paginate through the results.
      parameters:
      - description: |-
          Filter for specific bill credit card payments by their QuickBooks-assigned unique identifier(s).

          **IMPORTANT**: If you include this parameter, QuickBooks will ignore all other query parameters for this request.

          **NOTE**: If any of the values you specify in this parameter are not found, the request will return an error.
        explode: true
        in: query
        name: ids
        required: false
        schema:
          description: |-
            Filter for specific bill credit card payments by their QuickBooks-assigned unique identifier(s).

            **IMPORTANT**: If you include this parameter, QuickBooks will ignore all other query parameters for this request.

            **NOTE**: If any of the values you specify in this parameter are not found, the request will return an error.
          example:
          - 123ABC-1234567890
          items:
            type: string
          type: array
        style: form
      - description: |-
          Filter for specific bill credit card payments by their ref-number(s), case-sensitive. In QuickBooks, ref-numbers are not required to be unique and can be arbitrarily changed by the QuickBooks user.

          **IMPORTANT**: If you include this parameter, QuickBooks will ignore all other query parameters for this request.

          **NOTE**: If any of the values you specify in this parameter are not found, the request will return an error.
        explode: true
        in: query
        name: refNumbers
        required: false
        schema:
          description: |-
            Filter for specific bill credit card payments by their ref-number(s), case-sensitive. In QuickBooks, ref-numbers are not required to be unique and can be arbitrarily changed by the QuickBooks user.

            **IMPORTANT**: If you include this parameter, QuickBooks will ignore all other query parameters for this request.

            **NOTE**: If any of the values you specify in this parameter are not found, the request will return an error.
          example:
          - BILL CREDIT CARD PAYMENT-1234
          items:
            type: string
          type: array
        style: form
      - description: "The maximum number of objects to return. Accepts values ranging\
          \ from 1 to 150, defaults to 150. When used with cursor-based pagination,\
          \ this parameter controls how many results are returned per page. To paginate\
          \ through results, combine this with the `cursor` parameter. Each response\
          \ will include a `nextCursor` value that can be passed to subsequent requests\
          \ to retrieve the next page of results."
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 150
          description: "The maximum number of objects to return. Accepts values ranging\
            \ from 1 to 150, defaults to 150. When used with cursor-based pagination,\
            \ this parameter controls how many results are returned per page. To paginate\
            \ through results, combine this with the `cursor` parameter. Each response\
            \ will include a `nextCursor` value that can be passed to subsequent requests\
            \ to retrieve the next page of results."
          example: 150
          maximum: 150
          minimum: 1
          type: integer
        style: form
      - description: The pagination token to fetch the next set of results when paginating
          with the `limit` parameter. Do not include this parameter on the first call.
          Use the `nextCursor` value returned in the previous response to request
          subsequent results.
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          description: The pagination token to fetch the next set of results when
            paginating with the `limit` parameter. Do not include this parameter on
            the first call. Use the `nextCursor` value returned in the previous response
            to request subsequent results.
          example: 12345678-abcd-abcd-example-1234567890ab
          type: string
        style: form
      - description: "Filter for bill credit card payments updated on or after this\
          \ date and time, in ISO 8601 format (YYYY-MM-DDTHH:mm:ss). If you only provide\
          \ a date (YYYY-MM-DD), the time is assumed to be 00:00:00 of that day."
        explode: true
        in: query
        name: updatedAfter
        required: false
        schema:
          description: "Filter for bill credit card payments updated on or after this\
            \ date and time, in ISO 8601 format (YYYY-MM-DDTHH:mm:ss). If you only\
            \ provide a date (YYYY-MM-DD), the time is assumed to be 00:00:00 of that\
            \ day."
          example: 2021-01-01T12:34:56.000Z
          type: string
        style: form
      - description: "Filter for bill credit card payments updated on or before this\
          \ date and time, in ISO 8601 format (YYYY-MM-DDTHH:mm:ss). If you only provide\
          \ a date (YYYY-MM-DD), the time is assumed to be 23:59:59 of that day."
        explode: true
        in: query
        name: updatedBefore
        required: false
        schema:
          description: "Filter for bill credit card payments updated on or before\
            \ this date and time, in ISO 8601 format (YYYY-MM-DDTHH:mm:ss). If you\
            \ only provide a date (YYYY-MM-DD), the time is assumed to be 23:59:59\
            \ of that day."
          example: 2021-02-01T12:34:56.000Z
          type: string
        style: form
      - description: "Filter for bill credit card payments whose `date` field is on\
          \ or after this date, in ISO 8601 format (YYYY-MM-DD)."
        explode: true
        in: query
        name: transactionDateFrom
        required: false
        schema:
          description: "Filter for bill credit card payments whose `date` field is\
            \ on or after this date, in ISO 8601 format (YYYY-MM-DD)."
          example: 2021-01-01
          format: date
          type: string
        style: form
      - description: "Filter for bill credit card payments whose `date` field is on\
          \ or before this date, in ISO 8601 format (YYYY-MM-DD)."
        explode: true
        in: query
        name: transactionDateTo
        required: false
        schema:
          description: "Filter for bill credit card payments whose `date` field is\
            \ on or before this date, in ISO 8601 format (YYYY-MM-DD)."
          example: 2021-02-01
          format: date
          type: string
        style: form
      - description: Filter for bill credit card payments sent to these vendors. These
          are the vendors who sent the bills paid by these credit card payments.
        explode: true
        in: query
        name: vendorIds
        required: false
        schema:
          description: Filter for bill credit card payments sent to these vendors.
            These are the vendors who sent the bills paid by these credit card payments.
          example:
          - 80000001-1234567890
          items:
            type: string
          type: array
        style: form
      - description: Filter for bill credit card payments associated with these accounts.
        explode: true
        in: query
        name: accountIds
        required: false
        schema:
          description: Filter for bill credit card payments associated with these
            accounts.
          example:
          - 80000001-1234567890
          items:
            type: string
          type: array
        style: form
      - description: "Filter for bill credit card payments whose `refNumber` contains\
          \ this substring. NOTE: If you use this parameter, you cannot also use `refNumberStartsWith`\
          \ or `refNumberEndsWith`."
        explode: true
        in: query
        name: refNumberContains
        required: false
        schema:
          description: "Filter for bill credit card payments whose `refNumber` contains\
            \ this substring. NOTE: If you use this parameter, you cannot also use\
            \ `refNumberStartsWith` or `refNumberEndsWith`."
          example: CARD-1234
          type: string
        style: form
      - description: "Filter for bill credit card payments whose `refNumber` starts\
          \ with this substring. NOTE: If you use this parameter, you cannot also\
          \ use `refNumberContains` or `refNumberEndsWith`."
        explode: true
        in: query
        name: refNumberStartsWith
        required: false
        schema:
          description: "Filter for bill credit card payments whose `refNumber` starts\
            \ with this substring. NOTE: If you use this parameter, you cannot also\
            \ use `refNumberContains` or `refNumberEndsWith`."
          example: CARD
          type: string
        style: form
      - description: "Filter for bill credit card payments whose `refNumber` ends\
          \ with this substring. NOTE: If you use this parameter, you cannot also\
          \ use `refNumberContains` or `refNumberStartsWith`."
        explode: true
        in: query
        name: refNumberEndsWith
        required: false
        schema:
          description: "Filter for bill credit card payments whose `refNumber` ends\
            \ with this substring. NOTE: If you use this parameter, you cannot also\
            \ use `refNumberContains` or `refNumberStartsWith`."
          example: "1234"
          type: string
        style: form
      - description: "Filter for bill credit card payments whose `refNumber` is greater\
          \ than or equal to this value. If omitted, the range will begin with the\
          \ first number of the list. Uses a numerical comparison for values that\
          \ contain only digits; otherwise, uses a lexicographical comparison."
        explode: true
        in: query
        name: refNumberFrom
        required: false
        schema:
          description: "Filter for bill credit card payments whose `refNumber` is\
            \ greater than or equal to this value. If omitted, the range will begin\
            \ with the first number of the list. Uses a numerical comparison for values\
            \ that contain only digits; otherwise, uses a lexicographical comparison."
          example: CARD-0001
          type: string
        style: form
      - description: "Filter for bill credit card payments whose `refNumber` is less\
          \ than or equal to this value. If omitted, the range will end with the last\
          \ number of the list. Uses a numerical comparison for values that contain\
          \ only digits; otherwise, uses a lexicographical comparison."
        explode: true
        in: query
        name: refNumberTo
        required: false
        schema:
          description: "Filter for bill credit card payments whose `refNumber` is\
            \ less than or equal to this value. If omitted, the range will end with\
            \ the last number of the list. Uses a numerical comparison for values\
            \ that contain only digits; otherwise, uses a lexicographical comparison."
          example: CARD-9999
          type: string
        style: form
      - description: Filter for bill credit card payments in these currencies.
        explode: true
        in: query
        name: currencyIds
        required: false
        schema:
          description: Filter for bill credit card payments in these currencies.
          example:
          - 80000001-1234567890
          items:
            type: string
          type: array
        style: form
      - description: Whether to include line items in the response. Defaults to `true`.
        explode: true
        in: query
        name: includeLineItems
        required: false
        schema:
          default: true
          description: Whether to include line items in the response. Defaults to
            `true`.
          example: true
          type: boolean
        style: form
      - description: "The ID of the EndUser to receive this request (e.g., `\"Conductor-End-User-Id:\
          \ {{END_USER_ID}}\"`)."
        explode: false
        in: header
        name: Conductor-End-User-Id
        required: true
        schema:
          description: "The ID of the EndUser to receive this request (e.g., `\"Conductor-End-User-Id:\
            \ {{END_USER_ID}}\"`)."
          example: end_usr_1234567abcdefg
          type: string
          x-stainless-naming:
            node:
              method_argument: conductorEndUserId
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_quickbooks_desktop_bill_credit_card_payments_get_200_response'
          description: Returns a list of bill credit card payments.
          headers:
            Conductor-Request-Id:
              explode: false
              required: true
              schema:
                description: The unique identifier for this API request.
                example: req_1234567abcdefg
                type: string
              style: simple
      security:
      - BearerAuth: []
      summary: List all bill credit card payments
      x-codeSamples:
      - lang: JavaScript
        source: |-
          import Conductor from 'conductor-node';

          const client = new Conductor({
            apiKey: process.env['CONDUCTOR_SECRET_KEY'], // This is the default and can be omitted
          });

          async function main() {
            // Automatically fetches more pages as needed.
            for await (const billCreditCardPayment of client.qbd.billCreditCardPayments.list({
              conductorEndUserId: 'end_usr_1234567abcdefg',
            })) {
              console.log(billCreditCardPayment.id);
            }
          }

          main();
      - lang: Python
        source: |-
          import os
          from conductor import Conductor

          client = Conductor(
              api_key=os.environ.get("CONDUCTOR_SECRET_KEY"),  # This is the default and can be omitted
          )
          page = client.qbd.bill_credit_card_payments.list(
              conductor_end_user_id="end_usr_1234567abcdefg",
          )
          page = page.data[0]
          print(page.id)
    post:
      description: Creates a new bill credit card payment.
      parameters:
      - description: "The ID of the EndUser to receive this request (e.g., `\"Conductor-End-User-Id:\
          \ {{END_USER_ID}}\"`)."
        explode: false
        in: header
        name: Conductor-End-User-Id
        required: true
        schema:
          description: "The ID of the EndUser to receive this request (e.g., `\"Conductor-End-User-Id:\
            \ {{END_USER_ID}}\"`)."
          example: end_usr_1234567abcdefg
          type: string
          x-stainless-naming:
            node:
              method_argument: conductorEndUserId
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_quickbooks_desktop_bill_credit_card_payments_post_request'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/qbd_bill_credit_card_payment'
          description: Returns the newly created bill credit card payment.
          headers:
            Conductor-Request-Id:
              explode: false
              required: true
              schema:
                description: The unique identifier for this API request.
                example: req_1234567abcdefg
                type: string
              style: simple
      security:
      - BearerAuth: []
      summary: Create a bill credit card payment
      x-codeSamples:
      - lang: JavaScript
        source: |-
          import Conductor from 'conductor-node';

          const client = new Conductor({
            apiKey: process.env['CONDUCTOR_SECRET_KEY'], // This is the default and can be omitted
          });

          async function main() {
            const billCreditCardPayment = await client.qbd.billCreditCardPayments.create({
              applyToTransactions: [{ transactionId: '123ABC-1234567890' }],
              creditCardAccountId: '80000001-1234567890',
              transactionDate: '2021-10-01',
              vendorId: '80000001-1234567890',
              conductorEndUserId: 'end_usr_1234567abcdefg',
            });

            console.log(billCreditCardPayment.id);
          }

          main();
      - lang: Python
        source: |-
          import os
          from conductor import Conductor
          from conductor._utils import parse_date

          client = Conductor(
              api_key=os.environ.get("CONDUCTOR_SECRET_KEY"),  # This is the default and can be omitted
          )
          bill_credit_card_payment = client.qbd.bill_credit_card_payments.create(
              apply_to_transactions=[{
                  "transaction_id": "123ABC-1234567890"
              }],
              credit_card_account_id="80000001-1234567890",
              transaction_date=parse_date("2021-10-01"),
              vendor_id="80000001-1234567890",
              conductor_end_user_id="end_usr_1234567abcdefg",
          )
          print(bill_credit_card_payment.id)
  /quickbooks-desktop/bill-credit-card-payments/{id}:
    delete:
      description: Permanently deletes a a bill credit card payment. The deletion
        will fail if the bill credit card payment is currently in use or has any linked
        transactions that are in use.
      parameters:
      - description: The QuickBooks-assigned unique identifier of the bill credit
          card payment to delete.
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: The QuickBooks-assigned unique identifier of the bill credit
            card payment to delete.
          example: 123ABC-1234567890
          type: string
        style: simple
      - description: "The ID of the EndUser to receive this request (e.g., `\"Conductor-End-User-Id:\
          \ {{END_USER_ID}}\"`)."
        explode: false
        in: header
        name: Conductor-End-User-Id
        required: true
        schema:
          description: "The ID of the EndUser to receive this request (e.g., `\"Conductor-End-User-Id:\
            \ {{END_USER_ID}}\"`)."
          example: end_usr_1234567abcdefg
          type: string
          x-stainless-naming:
            node:
              method_argument: conductorEndUserId
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_quickbooks_desktop_bill_credit_card_payments__id__delete_200_response'
          description: Returns a confirmation of the deletion with the ID of the deleted
            bill credit card payment.
          headers:
            Conductor-Request-Id:
              explode: false
              required: true
              schema:
                description: The unique identifier for this API request.
                example: req_1234567abcdefg
                type: string
              style: simple
      security:
      - BearerAuth: []
      summary: Delete a bill credit card payment
      x-codeSamples:
      - lang: JavaScript
        source: |-
          import Conductor from 'conductor-node';

          const client = new Conductor({
            apiKey: process.env['CONDUCTOR_SECRET_KEY'], // This is the default and can be omitted
          });

          async function main() {
            const billCreditCardPayment = await client.qbd.billCreditCardPayments.delete('123ABC-1234567890', {
              conductorEndUserId: 'end_usr_1234567abcdefg',
            });

            console.log(billCreditCardPayment.id);
          }

          main();
      - lang: Python
        source: |-
          import os
          from conductor import Conductor

          client = Conductor(
              api_key=os.environ.get("CONDUCTOR_SECRET_KEY"),  # This is the default and can be omitted
          )
          bill_credit_card_payment = client.qbd.bill_credit_card_payments.delete(
              id="123ABC-1234567890",
              conductor_end_user_id="end_usr_1234567abcdefg",
          )
          print(bill_credit_card_payment.id)
    get:
      description: Retrieves a bill credit card payment by ID.
      parameters:
      - description: The QuickBooks-assigned unique identifier of the bill credit
          card payment to retrieve.
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: The QuickBooks-assigned unique identifier of the bill credit
            card payment to retrieve.
          example: 123ABC-1234567890
          type: string
        style: simple
      - description: "The ID of the EndUser to receive this request (e.g., `\"Conductor-End-User-Id:\
          \ {{END_USER_ID}}\"`)."
        explode: false
        in: header
        name: Conductor-End-User-Id
        required: true
        schema:
          description: "The ID of the EndUser to receive this request (e.g., `\"Conductor-End-User-Id:\
            \ {{END_USER_ID}}\"`)."
          example: end_usr_1234567abcdefg
          type: string
          x-stainless-naming:
            node:
              method_argument: conductorEndUserId
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/qbd_bill_credit_card_payment'
          description: Returns the specified bill credit card payment.
          headers:
            Conductor-Request-Id:
              explode: false
              required: true
              schema:
                description: The unique identifier for this API request.
                example: req_1234567abcdefg
                type: string
              style: simple
      security:
      - BearerAuth: []
      summary: Retrieve a bill credit card payment
      x-codeSamples:
      - lang: JavaScript
        source: |-
          import Conductor from 'conductor-node';

          const client = new Conductor({
            apiKey: process.env['CONDUCTOR_SECRET_KEY'], // This is the default and can be omitted
          });

          async function main() {
            const billCreditCardPayment = await client.qbd.billCreditCardPayments.retrieve('123ABC-1234567890', {
              conductorEndUserId: 'end_usr_1234567abcdefg',
            });

            console.log(billCreditCardPayment.id);
          }

          main();
      - lang: Python
        source: |-
          import os
          from conductor import Conductor

          client = Conductor(
              api_key=os.environ.get("CONDUCTOR_SECRET_KEY"),  # This is the default and can be omitted
          )
          bill_credit_card_payment = client.qbd.bill_credit_card_payments.retrieve(
              id="123ABC-1234567890",
              conductor_end_user_id="end_usr_1234567abcdefg",
          )
          print(bill_credit_card_payment.id)
  /quickbooks-desktop/bills:
    get:
      description: Returns a list of bills. Use the `cursor` parameter to paginate
        through the results.
      parameters:
      - description: |-
          Filter for specific bills by their QuickBooks-assigned unique identifier(s).

          **IMPORTANT**: If you include this parameter, QuickBooks will ignore all other query parameters for this request.

          **NOTE**: If any of the values you specify in this parameter are not found, the request will return an error.
        explode: true
        in: query
        name: ids
        required: false
        schema:
          description: |-
            Filter for specific bills by their QuickBooks-assigned unique identifier(s).

            **IMPORTANT**: If you include this parameter, QuickBooks will ignore all other query parameters for this request.

            **NOTE**: If any of the values you specify in this parameter are not found, the request will return an error.
          example:
          - 123ABC-1234567890
          items:
            type: string
          type: array
        style: form
      - description: |-
          Filter for specific bills by their ref-number(s), case-sensitive. In QuickBooks, ref-numbers are not required to be unique and can be arbitrarily changed by the QuickBooks user.

          **IMPORTANT**: If you include this parameter, QuickBooks will ignore all other query parameters for this request.

          **NOTE**: If any of the values you specify in this parameter are not found, the request will return an error.
        explode: true
        in: query
        name: refNumbers
        required: false
        schema:
          description: |-
            Filter for specific bills by their ref-number(s), case-sensitive. In QuickBooks, ref-numbers are not required to be unique and can be arbitrarily changed by the QuickBooks user.

            **IMPORTANT**: If you include this parameter, QuickBooks will ignore all other query parameters for this request.

            **NOTE**: If any of the values you specify in this parameter are not found, the request will return an error.
          example:
          - BILL-1234
          items:
            type: string
          type: array
        style: form
      - description: "The maximum number of objects to return. Accepts values ranging\
          \ from 1 to 150, defaults to 150. When used with cursor-based pagination,\
          \ this parameter controls how many results are returned per page. To paginate\
          \ through results, combine this with the `cursor` parameter. Each response\
          \ will include a `nextCursor` value that can be passed to subsequent requests\
          \ to retrieve the next page of results."
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 150
          description: "The maximum number of objects to return. Accepts values ranging\
            \ from 1 to 150, defaults to 150. When used with cursor-based pagination,\
            \ this parameter controls how many results are returned per page. To paginate\
            \ through results, combine this with the `cursor` parameter. Each response\
            \ will include a `nextCursor` value that can be passed to subsequent requests\
            \ to retrieve the next page of results."
          example: 150
          maximum: 150
          minimum: 1
          type: integer
        style: form
      - description: The pagination token to fetch the next set of results when paginating
          with the `limit` parameter. Do not include this parameter on the first call.
          Use the `nextCursor` value returned in the previous response to request
          subsequent results.
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          description: The pagination token to fetch the next set of results when
            paginating with the `limit` parameter. Do not include this parameter on
            the first call. Use the `nextCursor` value returned in the previous response
            to request subsequent results.
          example: 12345678-abcd-abcd-example-1234567890ab
          type: string
        style: form
      - description: "Filter for bills updated on or after this date and time, in\
          \ ISO 8601 format (YYYY-MM-DDTHH:mm:ss). If you only provide a date (YYYY-MM-DD),\
          \ the time is assumed to be 00:00:00 of that day."
        explode: true
        in: query
        name: updatedAfter
        required: false
        schema:
          description: "Filter for bills updated on or after this date and time, in\
            \ ISO 8601 format (YYYY-MM-DDTHH:mm:ss). If you only provide a date (YYYY-MM-DD),\
            \ the time is assumed to be 00:00:00 of that day."
          example: 2021-01-01T12:34:56.000Z
          type: string
        style: form
      - description: "Filter for bills updated on or before this date and time, in\
          \ ISO 8601 format (YYYY-MM-DDTHH:mm:ss). If you only provide a date (YYYY-MM-DD),\
          \ the time is assumed to be 23:59:59 of that day."
        explode: true
        in: query
        name: updatedBefore
        required: false
        schema:
          description: "Filter for bills updated on or before this date and time,\
            \ in ISO 8601 format (YYYY-MM-DDTHH:mm:ss). If you only provide a date\
            \ (YYYY-MM-DD), the time is assumed to be 23:59:59 of that day."
          example: 2021-02-01T12:34:56.000Z
          type: string
        style: form
      - description: "Filter for bills whose `date` field is on or after this date,\
          \ in ISO 8601 format (YYYY-MM-DD)."
        explode: true
        in: query
        name: transactionDateFrom
        required: false
        schema:
          description: "Filter for bills whose `date` field is on or after this date,\
            \ in ISO 8601 format (YYYY-MM-DD)."
          example: 2021-01-01
          format: date
          type: string
        style: form
      - description: "Filter for bills whose `date` field is on or before this date,\
          \ in ISO 8601 format (YYYY-MM-DD)."
        explode: true
        in: query
        name: transactionDateTo
        required: false
        schema:
          description: "Filter for bills whose `date` field is on or before this date,\
            \ in ISO 8601 format (YYYY-MM-DD)."
          example: 2021-02-01
          format: date
          type: string
        style: form
      - description: Filter for bills received from these vendors.
        explode: true
        in: query
        name: vendorIds
        required: false
        schema:
          description: Filter for bills received from these vendors.
          example:
          - 80000001-1234567890
          items:
            type: string
          type: array
        style: form
      - description: Filter for bills associated with these accounts.
        explode: true
        in: query
        name: accountIds
        required: false
        schema:
          description: Filter for bills associated with these accounts.
          example:
          - 80000001-1234567890
          items:
            type: string
          type: array
        style: form
      - description: "Filter for bills whose `refNumber` contains this substring.\
          \ NOTE: If you use this parameter, you cannot also use `refNumberStartsWith`\
          \ or `refNumberEndsWith`."
        explode: true
        in: query
        name: refNumberContains
        required: false
        schema:
          description: "Filter for bills whose `refNumber` contains this substring.\
            \ NOTE: If you use this parameter, you cannot also use `refNumberStartsWith`\
            \ or `refNumberEndsWith`."
          example: BILL-1234
          type: string
        style: form
      - description: "Filter for bills whose `refNumber` starts with this substring.\
          \ NOTE: If you use this parameter, you cannot also use `refNumberContains`\
          \ or `refNumberEndsWith`."
        explode: true
        in: query
        name: refNumberStartsWith
        required: false
        schema:
          description: "Filter for bills whose `refNumber` starts with this substring.\
            \ NOTE: If you use this parameter, you cannot also use `refNumberContains`\
            \ or `refNumberEndsWith`."
          example: BILL
          type: string
        style: form
      - description: "Filter for bills whose `refNumber` ends with this substring.\
          \ NOTE: If you use this parameter, you cannot also use `refNumberContains`\
          \ or `refNumberStartsWith`."
        explode: true
        in: query
        name: refNumberEndsWith
        required: false
        schema:
          description: "Filter for bills whose `refNumber` ends with this substring.\
            \ NOTE: If you use this parameter, you cannot also use `refNumberContains`\
            \ or `refNumberStartsWith`."
          example: "1234"
          type: string
        style: form
      - description: "Filter for bills whose `refNumber` is greater than or equal\
          \ to this value. If omitted, the range will begin with the first number\
          \ of the list. Uses a numerical comparison for values that contain only\
          \ digits; otherwise, uses a lexicographical comparison."
        explode: true
        in: query
        name: refNumberFrom
        required: false
        schema:
          description: "Filter for bills whose `refNumber` is greater than or equal\
            \ to this value. If omitted, the range will begin with the first number\
            \ of the list. Uses a numerical comparison for values that contain only\
            \ digits; otherwise, uses a lexicographical comparison."
          example: BILL-0001
          type: string
        style: form
      - description: "Filter for bills whose `refNumber` is less than or equal to\
          \ this value. If omitted, the range will end with the last number of the\
          \ list. Uses a numerical comparison for values that contain only digits;\
          \ otherwise, uses a lexicographical comparison."
        explode: true
        in: query
        name: refNumberTo
        required: false
        schema:
          description: "Filter for bills whose `refNumber` is less than or equal to\
            \ this value. If omitted, the range will end with the last number of the\
            \ list. Uses a numerical comparison for values that contain only digits;\
            \ otherwise, uses a lexicographical comparison."
          example: BILL-9999
          type: string
        style: form
      - description: Filter for bills in these currencies.
        explode: true
        in: query
        name: currencyIds
        required: false
        schema:
          description: Filter for bills in these currencies.
          example:
          - 80000001-1234567890
          items:
            type: string
          type: array
        style: form
      - description: "Filter for bills that are paid, not paid, or both."
        explode: true
        in: query
        name: paymentStatus
        required: false
        schema:
          default: all
          description: "Filter for bills that are paid, not paid, or both."
          enum:
          - all
          - paid
          - not_paid
          example: paid
          type: string
        style: form
      - description: Whether to include line items in the response. Defaults to `true`.
        explode: true
        in: query
        name: includeLineItems
        required: false
        schema:
          default: true
          description: Whether to include line items in the response. Defaults to
            `true`.
          example: true
          type: boolean
        style: form
      - description: "Whether to include linked transactions in the response. Defaults\
          \ to `false`. For example, a payment linked to the corresponding bill."
        explode: true
        in: query
        name: includeLinkedTransactions
        required: false
        schema:
          default: false
          description: "Whether to include linked transactions in the response. Defaults\
            \ to `false`. For example, a payment linked to the corresponding bill."
          example: false
          type: boolean
        style: form
      - description: "The ID of the EndUser to receive this request (e.g., `\"Conductor-End-User-Id:\
          \ {{END_USER_ID}}\"`)."
        explode: false
        in: header
        name: Conductor-End-User-Id
        required: true
        schema:
          description: "The ID of the EndUser to receive this request (e.g., `\"Conductor-End-User-Id:\
            \ {{END_USER_ID}}\"`)."
          example: end_usr_1234567abcdefg
          type: string
          x-stainless-naming:
            node:
              method_argument: conductorEndUserId
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_quickbooks_desktop_bills_get_200_response'
          description: Returns a list of bills.
          headers:
            Conductor-Request-Id:
              explode: false
              required: true
              schema:
                description: The unique identifier for this API request.
                example: req_1234567abcdefg
                type: string
              style: simple
      security:
      - BearerAuth: []
      summary: List all bills
      x-codeSamples:
      - lang: JavaScript
        source: |-
          import Conductor from 'conductor-node';

          const client = new Conductor({
            apiKey: process.env['CONDUCTOR_SECRET_KEY'], // This is the default and can be omitted
          });

          async function main() {
            // Automatically fetches more pages as needed.
            for await (const bill of client.qbd.bills.list({ conductorEndUserId: 'end_usr_1234567abcdefg' })) {
              console.log(bill.id);
            }
          }

          main();
      - lang: Python
        source: |-
          import os
          from conductor import Conductor

          client = Conductor(
              api_key=os.environ.get("CONDUCTOR_SECRET_KEY"),  # This is the default and can be omitted
          )
          page = client.qbd.bills.list(
              conductor_end_user_id="end_usr_1234567abcdefg",
          )
          page = page.data[0]
          print(page.id)
    post:
      description: Creates a new bill.
      parameters:
      - description: "The ID of the EndUser to receive this request (e.g., `\"Conductor-End-User-Id:\
          \ {{END_USER_ID}}\"`)."
        explode: false
        in: header
        name: Conductor-End-User-Id
        required: true
        schema:
          description: "The ID of the EndUser to receive this request (e.g., `\"Conductor-End-User-Id:\
            \ {{END_USER_ID}}\"`)."
          example: end_usr_1234567abcdefg
          type: string
          x-stainless-naming:
            node:
              method_argument: conductorEndUserId
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_quickbooks_desktop_bills_post_request'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/qbd_bill'
          description: Returns the newly created bill.
          headers:
            Conductor-Request-Id:
              explode: false
              required: true
              schema:
                description: The unique identifier for this API request.
                example: req_1234567abcdefg
                type: string
              style: simple
      security:
      - BearerAuth: []
      summary: Create a bill
      x-codeSamples:
      - lang: JavaScript
        source: |-
          import Conductor from 'conductor-node';

          const client = new Conductor({
            apiKey: process.env['CONDUCTOR_SECRET_KEY'], // This is the default and can be omitted
          });

          async function main() {
            const bill = await client.qbd.bills.create({
              transactionDate: '2021-10-01',
              vendorId: '80000001-1234567890',
              conductorEndUserId: 'end_usr_1234567abcdefg',
            });

            console.log(bill.id);
          }

          main();
      - lang: Python
        source: |-
          import os
          from conductor import Conductor
          from conductor._utils import parse_date

          client = Conductor(
              api_key=os.environ.get("CONDUCTOR_SECRET_KEY"),  # This is the default and can be omitted
          )
          bill = client.qbd.bills.create(
              transaction_date=parse_date("2021-10-01"),
              vendor_id="80000001-1234567890",
              conductor_end_user_id="end_usr_1234567abcdefg",
          )
          print(bill.id)
  /quickbooks-desktop/bills/{id}:
    delete:
      description: Permanently deletes a a bill. The deletion will fail if the bill
        is currently in use or has any linked transactions that are in use.
      parameters:
      - description: The QuickBooks-assigned unique identifier of the bill to delete.
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: The QuickBooks-assigned unique identifier of the bill to delete.
          example: 123ABC-1234567890
          type: string
        style: simple
      - description: "The ID of the EndUser to receive this request (e.g., `\"Conductor-End-User-Id:\
          \ {{END_USER_ID}}\"`)."
        explode: false
        in: header
        name: Conductor-End-User-Id
        required: true
        schema:
          description: "The ID of the EndUser to receive this request (e.g., `\"Conductor-End-User-Id:\
            \ {{END_USER_ID}}\"`)."
          example: end_usr_1234567abcdefg
          type: string
          x-stainless-naming:
            node:
              method_argument: conductorEndUserId
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_quickbooks_desktop_bills__id__delete_200_response'
          description: Returns a confirmation of the deletion with the ID of the deleted
            bill.
          headers:
            Conductor-Request-Id:
              explode: false
              required: true
              schema:
                description: The unique identifier for this API request.
                example: req_1234567abcdefg
                type: string
              style: simple
      security:
      - BearerAuth: []
      summary: Delete a bill
      x-codeSamples:
      - lang: JavaScript
        source: |-
          import Conductor from 'conductor-node';

          const client = new Conductor({
            apiKey: process.env['CONDUCTOR_SECRET_KEY'], // This is the default and can be omitted
          });

          async function main() {
            const bill = await client.qbd.bills.delete('123ABC-1234567890', {
              conductorEndUserId: 'end_usr_1234567abcdefg',
            });

            console.log(bill.id);
          }

          main();
      - lang: Python
        source: |-
          import os
          from conductor import Conductor

          client = Conductor(
              api_key=os.environ.get("CONDUCTOR_SECRET_KEY"),  # This is the default and can be omitted
          )
          bill = client.qbd.bills.delete(
              id="123ABC-1234567890",
              conductor_end_user_id="end_usr_1234567abcdefg",
          )
          print(bill.id)
    get:
      description: Retrieves a bill by ID.
      parameters:
      - description: The QuickBooks-assigned unique identifier of the bill to retrieve.
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: The QuickBooks-assigned unique identifier of the bill to retrieve.
[...]
